@charset "UTF-8";

.navbar .navbar-brand img{
        width: auto!important
}
.navbar{
  box-shadow:none!important;
}

.mensajeError:hover,.cursorPointer{
  cursor:pointer;
}

.has-error .chosen-container a{
  border-color:#BB4945!important;
}

.breadcrumb li,.breadcrumb li a,.breadcrumb > li + li:before, .breadcrumb > .active{color: #fff!important;}
.paleta .color{height: 150px;}
.paleta label{margin-top: 5px;font-size: 18px;font-weight: 600}
.paleta p{padding: 0;font-weight: 400;text-transform: uppercase}
.paleta-circle .color{border-radius: 50%;width: 50px;height: 50px;margin: 0 auto 0 auto;}

@media (min-width: 641px) {
  .rc-label {
    float: left;
  }
}