@charset "UTF-8";
/*!
 * Poncho (documentacion) v0.3 (https://github.com/argob/poncho)
 * Copyright 2016
 * Subsecretaría de Gobierno Digital
 * Presidencia de la Nación Argentina
 * Licenciado bajo MIT (https://github.com/argob/poncho/LICENSE)
 */
/* Resources */
.docs-examlpe {
  margin: 60px 0; }
  .docs-examlpe .docs-content {
    padding: 30px;
    border: 4px solid #e5e5e5;
    border-radius: 8px 8px 0 0; }
  .docs-examlpe .docs-code {
    padding: 15px 30px;
    background: #e5e5e5;
    border: none;
    border-radius: 0 0 8px 8px; }

.docs-colores {
  margin: 30px 0 10px; }
  .docs-colores span {
    display: inline-block;
    width: 110px;
    height: 110px;
    padding-top: 45px;
    margin: 0 20px 20px 0;
    text-align: center;
    border-radius: 110px; }

.docs-container &gt; h1, .docs-container &gt; h2, .docs-container &gt; h3, .docs-container &gt; h4, .docs-container &gt; h5, .docs-container &gt; h6 {
  margin-top: 2em; }
  .docs-container &gt; h1.no-margin, .docs-container &gt; h2.no-margin, .docs-container &gt; h3.no-margin, .docs-container &gt; h4.no-margin, .docs-container &gt; h5.no-margin, .docs-container &gt; h6.no-margin {
    margin-top: 0; }

/* colores */
:not(pre) &gt; code[class*="language-"],
pre[class*="language-"] {
  background: #ededed !important; }

.docs-colores {
  float: left; }
  .docs-colores span {
    color: #fff;
    text-align: center;
    margin: 0 20px 20px 20px;
    width: 110px;
    height: 110px;
    border-radius: 110px;
    padding-top: 45px;
    display: block;
    float: left;
    font-family: "OpenSans", Helvetica, Arial, sans-serif;
    font-weight: bold; }

pre[class*="language-"] {
  padding: 2em !important; }

#docs .docs-container hr {
  margin: 60px 0 60px; }

/*

#docs ul li ul {font-weight: normal;}

#docs ul#navbar-docs {width: 263px;}

@media only screen and (min-width: 768px ){
  #docs .page-sidebar .nav &gt; li.active &gt; .nav &gt; li { display: block;}
}
@media only screen and (max-width: 767px ){
  #docs ul#navbar-docs {position: static;}
}

#docs .page-sidebar .nav .nav &gt; li {display: none;}

#docs #navbar-docs ul &gt; li {margin-top: 2px;}

#docs #navbar-docs ul &gt; li &gt; a {border-radius: 4px; font-size: 16px;}
#navbar-docs.affix {top: 55px;}

#docs .page-sidebar .nav-pills li&gt;a {padding: 10px 15px;}
*/
