<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="Base de html y css para la creación de sitios pertenecientes a la Administración Pública Nacional de la República Argentina.">
    <meta name="author" content="Presidencia de la Nación">
    <link rel="shortcut icon" href="/poncho/favicon.ico">
  
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P68ZXT');</script>
    <!-- End Google Tag Manager -->
  
    <!-- Nav and address bar color -->
    <meta name="theme-color" content="#0072b8">
    <meta name="msapplication-navbutton-color" content="#0072b8">
    <meta name="apple-mobile-web-app-status-bar-style" content="#0072b8">
  
    <meta property="og:site_name" content="Documentación Poncho"/>
    <meta property="og:url" content="/poncho/">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Poncho">
    <meta property="og:description" content="Base de html y css para la creación de sitios pertenecientes a la Administración Pública Nacional de la República Argentina.">
    <meta property="og:image" content="http://argob.github.io/poncho/img/poncho_social.jpg" />
    <meta property="og:locale" content="es_AR">
  
   
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Poncho">
    <meta name="twitter:description" content="Base de html y css para la creación de sitios pertenecientes a la Administración Pública Nacional de la República Argentina.">
    <meta name="twitter:image" content="http://argob.github.io/poncho/img/poncho_social.jpg" />
  
  
    <link href="/poncho/node_modules/ar-poncho/dist/css/roboto-fontface.css" rel="stylesheet">
    <link href="/poncho/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/poncho/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/poncho/node_modules/ar-poncho/dist/css/poncho.min.css" rel="stylesheet">
   <link href="/poncho/node_modules/ar-poncho/dist/css/documentacion.css" rel="stylesheet">
    <link href="/poncho/node_modules/ar-poncho/dist/icono-arg.css" rel="stylesheet">
    <link href="/poncho/css/prism.css" rel="stylesheet">
    <script src="/poncho/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/poncho/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/poncho/js/scripts.js"></script>
    <script src="poncho/js/prism.js"></script>

    <!--solo para Series de Tiempo-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/datosgobar/series-tiempo-ar-explorer@ts_components_2.6.2/dist/css/components.css" type="text/css">
    <script src='https://cdn.jsdelivr.net/gh/datosgobar/series-tiempo-ar-explorer@ts_components_2.6.2/dist/js/components.js'></script>
    <!--<style>
        /* ESTILOS PARA TARJETAS DE SERIES DE TIEMPO */
        .row {
            display: flex;
            justify-content: space-around;
        }
        .card.full {
            -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
            background: #ffffff;
            border-radius: 4px;
            box-shadow: 0 2px 2px rgba(0,0,0,0.2);
        }
    </style>-->
    
    <!--Solo para tablas con buscador-->
    <link href="https://www.argentina.gob.ar/sites/default/files/ponchotable/ponchotable-1.1.css" rel="stylesheet" />

    <script src="https://www.argentina.gob.ar/sites/default/files/ponchotable/showdown.js"></script>
    <script src="https://www.argentina.gob.ar/sites/default/files/ponchotable/datatables.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://poncheado.herokuapp.com/node_modules/html5shiv/html5shiv.js"></script>
      <script src="https://poncheado.herokuapp.com/node_modules/respond.js/respond.min.js"></script>
      <![endif]-->

    <link href="https://id.argentina.gob.ar/static/css/chosen/chosen.css" rel="stylesheet">

</head>    