<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Base de html y css para la creación de sitios pertenecientes a la Administración Pública Nacional de la República Argentina.">
    <meta name="author" content="Presidencia de la Nación">
  
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P68ZXT');</script>
    <!-- End Google Tag Manager -->


    <link rel="shortcut icon" href="{{ '/favicon.ico' | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" href="{{ '/img/iconos/icon-192x192.png' | prepend: site.baseurl }}">
    <link rel="manifest" href="{{ '/manifest.json' | prepend: site.baseurl }}">

    <!-- Nav and address bar color -->
    <meta name="theme-color" content="{% if page.color %}{{ page.color }}{% else %}{{ site.color }}{% endif %}">
    <meta name="msapplication-navbutton-color" content="{% if page.color %}{{ page.color }}{% else %}{{ site.color }}{% endif %}">
    <meta name="apple-mobile-web-app-status-bar-style" content="{% if page.color %}{{ page.color }}{% else %}{{ site.color }}{% endif %}">
  <!--  
    <meta property="og:site_name" content="Documentación Poncho"/>
    <meta property="og:url" content="/poncho/">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Poncho">
    <meta property="og:description" content="Base de html y css para la creación de sitios pertenecientes a la Administración Pública Nacional de la República Argentina.">
    <meta property="og:image" content="http://argob.github.io/poncho/img/poncho_social.jpg" />
    <meta property="og:locale" content="es_AR">
  
   
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Poncho">
    <meta name="twitter:description" content="Base de html y css para la creación de sitios pertenecientes a la Administración Pública Nacional de la República Argentina.">
    <meta name="twitter:image" content="http://argob.github.io/poncho/img/poncho_social.jpg" />
  -->
  
    <link href="{{ '/node_modules/ar-poncho/dist/css/roboto-fontface.css' | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ '/node_modules/bootstrap/dist/css/bootstrap.min.css' | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ '/node_modules/font-awesome/css/font-awesome.min.css' | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ '/node_modules/ar-poncho/dist/css/poncho.min.css' | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ '/node_modules/ar-poncho/dist/css/documentacion.css' | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ '/node_modules/ar-poncho/dist/icono-arg.css' | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ '/css/prism.css' | prepend: site.baseurl }}" rel="stylesheet">

    
    <script src="{{ '/node_modules/jquery/dist/jquery.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/node_modules/bootstrap/dist/js/bootstrap.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/js/scripts.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/js/prism.js' | prepend: site.baseurl }}"></script>

    <!--PWA ServiceWorker-->
    <script type="module"> 
      if (navigator.serviceWorker.controller) { 
          console.log("Active service worker found, no need to register"); 
      }else{ 
           // Register the service worker 
          navigator.serviceWorker.register("{{ '/js/pwabuilder-sw.js | prepend: site.baseurl }}", { scope: "./" }).then(function (reg) { console.log("Service worker has been registered"); })
        } 
    </script>




    {% if page.title == "Series de Tiempo" %}
    <!--solo para Series de Tiempo-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/datosgobar/series-tiempo-ar-explorer@ts_components_2.6.2/dist/css/components.css" type="text/css">
    <script src='https://cdn.jsdelivr.net/gh/datosgobar/series-tiempo-ar-explorer@ts_components_2.6.2/dist/js/components.js'></script>
    {% endif %}



    {% if page.title == "Iconos" %}
    <!--solo para Listado de iconos-->
    <script src="{{ '/node_modules/list.js/dist/list.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/node_modules/clipboard/dist/clipboard.min.js' | prepend: site.baseurl }}"></script>
    {% endif %}



    <!--Solo para tablas con buscador-->
    <script src="/poncho/node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
    <link href="/poncho/node_modules/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="/poncho/node_modules/intl/dist/Intl.min.js"></script>
    <link href="https://www.argentina.gob.ar/sites/default/files/ponchotable/ponchotable-1.1.css" rel="stylesheet" />

    <script src="/poncho/node_modules/showdown/dist/showdown.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://poncheado.herokuapp.com/node_modules/html5shiv/html5shiv.js"></script>
      <script src="https://poncheado.herokuapp.com/node_modules/respond.js/respond.min.js"></script>
      <![endif]-->

    <link href="https://id.argentina.gob.ar/static/css/chosen/chosen.css" rel="stylesheet">
    {% seo %}  
</head>