<header>
    <nav class="navbar navbar-top navbar-default">
      <div class="container">
        <div>
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar-collapse">
              <span class="sr-only">Toggle navigationn</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="/poncho/" class="navbar-brand">
              <img alt="Poncho" src="{{ '/img/poncho.gif' | prepend: site.baseurl }}" height="50">
              <h1>Poncho</h1>
            </a>
          </div>
          <div class="collapse navbar-collapse" id="main-navbar-collapse" data-seccion="Inicio"></div>
        </div>
      </div>
    </nav>
</header>  