.ql-indent-1 {
    padding-left: 1rem !important;
}

.ql-indent-2 {
    padding-left: 2rem !important;
}

.ql-indent-3 {
    padding-left: 3rem !important;
}

.ql-indent-4 {
    padding-left: 4rem !important;
}

.ql-indent-5 {
    padding-left: 5rem !important;
}

.ql-indent-6 {
    padding-left: 6rem !important;
}