/**
 * ALERTAS 
 */
.alert {
    --spread-size: 9px;
    --main-color: #555;

    width: calc(100% - var(--spread-size));
    position: relative;
    background: white;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: 6px solid #555;
    border-radius: 2px;
    padding: 15px 15px 15px 10px;
    color: #555;
    background-color: white;
    box-shadow: 4px 6px calc(var(--spread-size) + 1px) rgba(0, 0, 0, 0.15);
    &:not(:has(.media-left)) {
        padding: 15px;
    }
    // REDEFINIMOS MEDIA
    .media {
        grid-template-columns: 4.5rem 1fr;
        display: grid;
        gap: 10px;

        &:not(:has(.media-left)) {
            grid-template-columns: 1fr;
        }
        .media-left {
            padding: {
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
            }
            text-align: center;
        }
        .media-body {
            width: auto;
            align-self: center;
        }
    }

    // Corrección de tamaños.
    .fa-1x,
    .fa-2x,
    .fa-4x,
    .fa-3x,
    .fa-5x {
        font-size: 3rem !important;
    }

    // Tamaños para iconos específicos.
    .fa.fa-warning,
    .fa.fa-times-circle,
    .fa.fa-info-circle,
    .fa.fa-check-circle {
        font-size: 3.15em !important;
        margin: 0;
    }

    i {
        color: currentColor;
    }

    p {
        margin-bottom: 1em;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .h5,
    h5 {
        margin-top: 0px;
    }

    .btn {
        @include button-variant(#fff, #555, #555);
        margin-bottom: 1em;
        margin-top: 1em;
    }
}

@media (max-width: 768px) {
    .alert {
        padding: 15px;
    }
    .alert .media {
        grid-template-columns: none;
        grid-template-rows: auto;
        row-gap: 5px;
    }
    .alert .media .media-left {
        text-align: left;
    }
}

/**
 * Definición para los temas de color.
 */
// $colorThemesAlerts: (
//     "default": (
//         themeColor: #555,
//         backgroundColor: white,
//         buttonColor: white,
//     ),
//     "info": (
//         themeColor: var(--arg-azul-500),
//         backgroundColor: var(--arg-azul-50),
//         buttonColor: white,
//     ),
//     "danger": (
//         themeColor: var(--arg-rojo-500),
//         backgroundColor: var(--arg-rojo-50),
//         buttonColor: white,
//     ),
//     "success": (
//         themeColor: var(--arg-verde-700),
//         backgroundColor: var(--arg-verde-50),
//         buttonColor: white,
//     ),
//     "warning": (
//         themeColor: var(--arg-amarillo-500),
//         backgroundColor: var(--arg-amarillo-50),
//         buttonColor: black,
//     ),
// );

// @each $themeName, $themeValues in $colorThemesAlerts {
//     .alert-#{$themeName} {
//         background-color: #{map-get($themeValues, backgroundColor)};
//         border-left: 0.333rem solid #{map-get($themeValues, themeColor)};
//     }
//     .alert-#{$themeName} .media-left i {
//         color: #{map-get($themeValues, themeColor)};
//     }
//     .alert-#{$themeName} .btn {
//         background-color: #{map-get($themeValues, themeColor)};
//         color: #{map-get($themeValues, buttonColor)};
//     }
// }
