/*
.alert {
    border-width: 2px;
    font-weight: 500;

    .btn i {
        color: $white;
    }
}

.alert-warning,
.alert-success,
.alert-info,
.alert-danger {
    color: $gray-dark;
}

.alert-warning {
    background: lighten($brand-warning, 32%);
    border-color: $brand-warning;

    i {
        color: $brand-warning;
    }
}

.alert-success {
    background: lighten($brand-success, 63%);
    border-color: $brand-success;

    i {
        color: $brand-success;
    }
}

.alert-info {
    background: lighten($brand-info, 51%);
    border-color: $brand-info;

    i {
        color: $brand-info;
    }
}

.alert-danger {
    background: lighten($brand-danger, 51%);
    border-color: $brand-danger;

    i {
        color: $brand-danger;
    }
}

a.alert {
    &:hover {
        text-decoration: none;
        color: $black;
    }

    &.alert-warning {
        &:hover {
            background: lighten($brand-warning, 42%);
        }

        i {
            color: $brand-warning;
        }
    }

    &.alert-success {
        &:hover {
            background: lighten($brand-success, 63%);
        }

        i {
            color: $brand-success;
        }
    }

    &.alert-info {
        &:hover {
            background: lighten($brand-primary, 61%);
        }

        i {
            color: $brand-info;
        }
    }

    &.alert-danger {
        &:hover {
            background: lighten($brand-danger, 51%);
        }

        i {
            color: $brand-danger;
        }
    }
}

.alert h2 {
    font-size: 1.3em !important;
    margin-top: 0px !important;
    margin-bottom: 8px !important;
    font-weight: 700 !important;
}

// from argentina.scss
.alert {
    border-radius: 10px;
}
*/
/**
 * ALERTAS 
 */
.alert {
    border-radius: 0;
    border-top: none;
    border-right: none;
    border-bottom: none;
            border-left: 8px solid #555;
            color: #555;
            background-color: white;
                box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.15);

    .media-left {
        padding-right: 10px;

    }

    .fa-x4 {
        font-size: 3rem;
    }

    i {
        color: currentColor;
    }

    p {
        margin-bottom: 0.556rem;
    }

    .h5 {
        margin-top: 0rem;
    }

    .btn {
        background-color: #555;
        color: white
    }
}

@media (max-width: 768px) {
    .alert .media-left {
        float: none;
        display: block;
        margin-bottom: 0.444rem;
    }
}

/**
 * Definición para los temas de color.
 */
// $colorThemesAlerts: (
//     "default": (
//         themeColor: #555,
//         backgroundColor: white,
//         buttonColor: white,
//     ),
//     "info": (
//         themeColor: var(--arg-azul-500),
//         backgroundColor: var(--arg-azul-50),
//         buttonColor: white,
//     ),
//     "danger": (
//         themeColor: var(--arg-rojo-500),
//         backgroundColor: var(--arg-rojo-50),
//         buttonColor: white,
//     ),
//     "success": (
//         themeColor: var(--arg-verde-700),
//         backgroundColor: var(--arg-verde-50),
//         buttonColor: white,
//     ),
//     "warning": (
//         themeColor: var(--arg-amarillo-500),
//         backgroundColor: var(--arg-amarillo-50),
//         buttonColor: black,
//     ),
// );

// @each $themeName, $themeValues in $colorThemesAlerts {
//     .alert-#{$themeName} {
//         background-color: #{map-get($themeValues, backgroundColor)};
//         border-left: 0.333rem solid #{map-get($themeValues, themeColor)};
//     }
//     .alert-#{$themeName} .media-left i {
//         color: #{map-get($themeValues, themeColor)};
//     }
//     .alert-#{$themeName} .btn {
//         background-color: #{map-get($themeValues, themeColor)};
//         color: #{map-get($themeValues, buttonColor)};
//     }
// }
