/**
 * Poncho v0.2 (https://github.com/argob/poncho)
 * Copyright 2016
 * Subsecretaría de Tecnologías de la Información
 * Presidencia de la Nación Argentina
 * Licenciado bajo MIT (https://github.com/argob/poncho/LICENSE)
  */

@import "main";

/* Form-type
   ======================================================================== 
*/
.form-type-date .form-inline {
    margin: 0 -15px;
    background: none;
    border: none;
    box-shadow: none;
    padding: 0;
    width: initial;
}

.form-type-date .form-inline:after {
    content: "";
    display: block;
    clear: left;
}

.form-type-date .form-inline > div {
    width: 33.33%;
    padding: 0 15px;
    display: block;
    float: left;
}

.form-type-date .form-inline > div label {
    display: block;
}

.form-type-date .form-inline > div input,
.form-type-date .form-inline > div select {
    width: 100%;
    box-sizing: border-box;
}

.form-item input {
    font-size: 16px;
    line-height: 1;
    padding: 15px;
}

.form-item input[type="hidden"] + input {
    border-radius: 4px 0 0 4px !important;
}

.form-item .input-group-btn .btn {
    min-width: 200px;
}

.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"],
.radio input[type="radio"],
.radio-inline input[type="radio"] {
    padding: 0;
}

fieldset.panel.collapsible {
    border: none;
    background: none;
    box-shadow: none;
    padding: 0;
    height: initial !important;
}

fieldset.panel.collapsible legend.panel-heading {
    border: 0;
    min-height: 0;
    background: none;
    padding: 0;
    margin: 0;
}

fieldset.panel.collapsible legend.panel-heading a {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    padding: 16px 25px;
    border-radius: 4px;
    text-transform: uppercase;
    vertical-align: top;
    color: #0072bc;
    text-decoration: underline !important;
    background-color: #e5e5e5 !important;
}

fieldset.panel.collapsible legend.panel-heading a span {
    display: none;
}

fieldset.panel.collapsible legend.panel-heading a:hover,
fieldset.panel.collapsible legend.panel-heading a:focus {
    background-color: #ccc !important;
    color: #0072bc;
}

fieldset.panel.collapsible .panel-body {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 30px 30px 0;
}

fieldset.panel.collapsible .panel-body .form-group > label.control-label {
    font-weight: 400;
}

/* cd-login
   @TODO verificar si se sigue utilizando
   ======================================================================== */
#cd-login {
    display: inline-block;
}

@media (max-width: 768px) {
    #cd-login button {
        width: 100%;
        margin: 0 0 20px;
    }
}

/* x
   ======================================================================== */
@media (min-width: 768px) and (max-width: 1200px) {
    .navbar .navbar-brand img {
        width: 254px;
    }
}

@media print {
    .pane-argentinagobar-bloques-reportes-formulario-reportes,
    .book-navigation {
        display: none;
    }
}

/* Fix labels en input radios de formularios */
.form-radios label {
    font-weight: 400;
}

/* Fix para centrar iconos en Argentina.gob.ar */
.icon-item {
    text-align: center;
}

.icon-item i {
    justify-content: center;
}

/* Fix para ajustar Breadcrumbs
   ======================================================================== */
.jumbotron .jumbotron_bar {
    padding: 10px 0 5px 0;
}

.pane-page-breadcrumb .breadcrumb li,
.jumbotron_bar .breadcrumb li {
    display: inline;
}

.pane-page-breadcrumb .pane-content,
.jumbotron_bar .col-md-12 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.pane-page-breadcrumb .pane-content .breadcrumb,
.jumbotron_bar .col-md-12 .breadcrumb {
    float: none !important;
    margin-right: 10px;
}

.pane-page-breadcrumb .pane-content .list-inline.pull-right,
.jumbotron_bar .col-md-12 > .list-inline.pull-right {
    float: none !important;
    order: 2;
    margin-top: 1px;
}

@media (max-width: 768px) {
    .jumbotron div.jumbotron_bar .col-md-12 .list-inline li {
        display: inline-block !important;
        margin-top: 0;
    }
}

@media (max-width: 530px) {
    .jumbotron_bar .dropdown-menu-right {
        right: auto;
        left: 0;
    }
}

/* x
   ======================================================================== */
footer ul.nav li a {
    text-decoration: underline !important;
}

.icon-item {
    text-align: center;
    margin: 10px 0;
}

/* Generar mas contraste con este color al texto*/
.h3.section-title {
    color: $black;
    /* archivo tipography.scss line 43 le agrega por defecto color: #707070 */
}

.m-l-m15 {
    margin-left: -15px;
}

/* Las listas despegables que se corran a la izquierda */
.dropdown-menu-right {
    left: auto;
    right: 0;
}

/* hover mas contraste   */
.nav.nav-icons li a:hover i,
.nav.nav-icons li a:focus i {
    color: #0072bb !important;
    background: #fff !important;
    box-shadow: none;
    border: solid 1px #ddd;
}

/* afecta tambien nav.scss line 369*/
.nav.nav-icons.nav-icons-selected li:not(.active) a:hover i {
    color: #0072bb !important;
    background: #fff !important;
    box-shadow: none;
    border: solid 1px #ddd;
}

.nav.nav-icons li a span {
    color: $black;
}

/* Mejorar contraste a etiqueta time en paneles noticias destacadas */
.panel time {
    opacity: 1;
}

/* modificar paneles sacar headings por parrafos o span */
.panel .h3_title,
.h3_title {
    font-size: 1.3em !important;
    font-weight: 500 !important;
    line-height: 1.3 !important;
    margin: 0.25em 0 !important;
    /*color: red; cambiar color para visualizar mejor que se esta cambiando*/
}

/* modificar paneles sacar headings por parrafos o span */
.icon-item .h3_title {
    font-size: 1.6em !important;
    /* global.scss line 90*/
    margin-top: 0 !important;
    /* global.scss line 85*/
    margin-bottom: 0.2em;
    font-weight: 600;
    /*color: red; cambiar color para visualizar mejor que se esta cambiando*/
}

@media screen and (max-width: 767px) {
    .c_bajada {
        display: none;
    }
}

.pane-area-estructura .img-rounded {
    margin-top: 10px !important;
}

/* Header
   ======================================================================== */
header nav .btn-link {
    color: #0072bb !important;
    margin-left: 20px !important;
}

header nav input#buscar {
    opacity: 0.9;
}

header nav input#buscar:focus {
    opacity: 1;
}

/* Panel
   ======================================================================== */
.panel h3,
.panel .h3 {
    color: $black;
}

@media (max-width: 767px) {
    .navbar .navbar-brand {
        padding: 10px 15px 10px 0;
    }

    .navbar.navbar-top.state-search .navbar-nav.navbar-right > .btn {
        margin-left: 0 !important;
    }
}

.input-group .form-control:not(:first-child):not(:last-child),
.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child) {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid $black !important;
}

footer section section {
    padding: 0 0 30px 0 !important;
}

@media (max-width: 490px) {
    .navbar .btn {
        margin-top: 10px;
    }
}

@media (max-width: 767px) {
    .navbar .btn {
        margin: 13px 0 8px 10px;
    }

    .jumbotron .jumbotron_bar .breadcrumb,
    .pane-page-breadcrumb .breadcrumb {
        margin-bottom: 5px !important;
        min-width: 260px;
    }
}

@media (max-width: 490px) {
    .navbar.navbar-top .input-group {
        margin: 9px 0 0 0;
    }

    .navbar-default {
        min-height: 70px;
    }
}

@media (max-width: 768px) {
    .jumbotron div.jumbotron_bar .col-md-12 .list-inline li {
        display: inline-block !important;
        margin-top: 0;
    }

    footer section section {
        padding: 0 !important;
    }

    footer section section ul {
        margin-bottom: 0 !important;
        padding: 0;
    }
}

.breadcrumb a:hover {
    color: $black;
}

ul.dropdown-menu li a {
    width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.checkbox label,
.radio label {
    margin-top: 0 !important;
}

.main-footer {
    margin-top: 0 !important;
}

footer .nav > li > a:focus,
footer .nav > li > a:hover {
    background-color: transparent;
    opacity: 0.8;
}

.nav-pills > li > a {
    border-radius: 30px;
}

.dropdown .list-inline li {
    margin-bottom: 0 !important;
}

.panel-disabled,
.panel-disabled .h3,
.panel-disabled h3,
.panel-disabled p {
    color: $black !important;
}

.pane-area-estructura h2 {
    margin-bottom: 10px !important;
}

.pane-area-estructura .img-rounded {
    margin-bottom: 20px !important;
}

.well {
    border-width: 2px !important;
}

.node-unpublished {
    background-color: #fff !important;
}

.social-share a {
    font-size: 20px;
    margin-top: -6px;
}

/*  ESTILOS ETAPA 2 ARGENTINA.GOB.AR */
.etapa2 .h3 {
    color: $black !important;
    font-size: 20px !important;
    text-shadow: none !important;
}

.etapa2 p {
    font-size: 16px !important;
    line-height: 22px !important;
    text-shadow: none !important;
    font-weight: 500 !important;
    color: #555 !important;
}

.etapa2 .text-muted {
    text-shadow: none !important;
}

.mt-3 {
    margin-top: 30px;
}

.input-search {
    border: none !important;
}

.input-search:hover,
.input-search:focus {
    box-shadow: none !important;
}

.d-inline-block {
    display: inline-block !important;
}

.btn-search-reset {
    padding: 10px 11px !important;
    border: 1px solid $black !important;
    line-height: 1.38 !important;
}
