/**
 * Poncho v0.2 (https://github.com/argob/poncho)
 * Copyright 2016
 * Subsecretaría de Tecnologías de la Información
 * Presidencia de la Nación Argentina
 * Licenciado bajo MIT (https://github.com/argob/poncho/LICENSE)
  */

@import "main";
/* Form-type
   ========================================================================      */
.form-type-date .form-inline {
	margin: 0 -15px;
	background: none;
	border: none;
	box-shadow: none;
	padding: 0;
	width: initial;
}


.form-type-date .form-inline:after {
	content: '';
	display: block;
	clear: left;
}

.form-type-date .form-inline > div {
	width: 33.33%;
	padding: 0 15px;
	display: block;
	float: left;
}

.form-type-date .form-inline > div label {
	display: block;
}

.form-type-date .form-inline > div input,
.form-type-date .form-inline > div select {
	width: 100%;
	box-sizing: border-box;
}


.form-item input {
	font-size: 16px;
	line-height: 1;
	padding: 15px;
}

.form-item input[type=hidden] + input {
	border-radius: 4px 0 0 4px !important;
}

.form-item .input-group-btn .btn {
	min-width: 200px;
}

.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
	padding: 0;
}

fieldset.panel.collapsible {
	border: none;
	background: none;
	box-shadow: none;
	padding: 0;
	height: initial !important;
}

fieldset.panel.collapsible legend.panel-heading {
	border: 0;
	min-height: 0;
	background: none;
	padding: 0;
	margin: 0;
}

fieldset.panel.collapsible legend.panel-heading a {
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 10px;
	padding: 16px 25px;
	border-radius: 4px;
	text-transform: uppercase;
	vertical-align: top;
	color: #0072bc;
	text-decoration: underline !important;
	background-color: #e5e5e5 !important;
}

fieldset.panel.collapsible legend.panel-heading a span {
	display: none;
}

fieldset.panel.collapsible legend.panel-heading a:hover,
fieldset.panel.collapsible legend.panel-heading a:focus {
	background-color: #ccc !important;
	color: #0072bc;
}

fieldset.panel.collapsible .panel-body {
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 30px 30px 0;
}

fieldset.panel.collapsible .panel-body .form-group > label.control-label {
	font-weight: 400;
}





/* cd-login
   @TODO verificar si se sigue utilizando
   ======================================================================== */
#cd-login {
	display: inline-block;
}

@media (max-width:768px) {
	#cd-login button {
		width: 100%;
		margin: 0 0 20px;
	}
}





/* x
   ======================================================================== */
@media (min-width:768px) and (max-width:1200px) {
	.navbar .navbar-brand img {
		width: 254px;
	}
}

@media print {
	.pane-argentinagobar-bloques-reportes-formulario-reportes,
	.book-navigation {
		display: none;
	}
}

/* Fix labels en input radios de formularios */
.form-radios label {
	font-weight: 400;
}

/* Fix para centrar iconos en Argentina.gob.ar */
.icon-item {
	text-align: center;
}

.icon-item i {
	justify-content: center;
}

/* Fix para ajustar Breadcrumbs
   ======================================================================== */
.jumbotron .jumbotron_bar {
	padding: 10px 0 5px 0;
}

.pane-page-breadcrumb .breadcrumb li,
.jumbotron_bar .breadcrumb li {
	display: inline;
}

.pane-page-breadcrumb .pane-content,
.jumbotron_bar .col-md-12 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.pane-page-breadcrumb .pane-content .breadcrumb,
.jumbotron_bar .col-md-12 .breadcrumb {
	float: none !important;
	margin-right: 10px;
}

.pane-page-breadcrumb .pane-content .list-inline.pull-right,
.jumbotron_bar .col-md-12 > .list-inline.pull-right {
	float: none !important;
	order: 2;
	margin-top: 1px;
}

@media (max-width:768px) {
	.jumbotron div.jumbotron_bar .col-md-12 .list-inline li {
		display: inline-block !important;
		margin-top: 0;
	}

}

@media (max-width:530px) {
	.jumbotron_bar .dropdown-menu-right {
		right: auto;
		left: 0;
	}

}

/* x
   ======================================================================== */
footer ul.nav li a {
	text-decoration: underline !important;
}

.icon-item {
	text-align: center;
	margin: 10px 0;
}

/* Generar mas contraste con este color al texto*/
.h3.section-title {
	color: $black;     /* archivo tipography.scss line 43 le agrega por defecto color: #707070 */
}

.m-l-m15 {
	margin-left: -15px;
}

/* Las listas despegables que se corran a la izquierda */
.dropdown-menu-right {
	left: auto;
	right: 0;
}

/* hover mas contraste   */
.nav.nav-icons li a:hover i,
.nav.nav-icons li a:focus i {
	color: #0072bb !important;
	background: #fff !important;
	box-shadow: none;
	border: solid 1px #ddd;
}

/* afecta tambien nav.scss line 369*/
.nav.nav-icons.nav-icons-selected li:not(.active) a:hover i {
	color: #0072bb !important;
	background: #fff !important;
	box-shadow: none;
	border: solid 1px #ddd;
}

.nav.nav-icons li a span {
	color: $black;
}

/* Mejorar contraste a etiqueta time en paneles noticias destacadas */
.panel time {
	opacity: 1;
}

/* modificar paneles sacar headings por parrafos o span */
.panel .h3_title,
.h3_title {
	font-size: 1.3em !important;
	font-weight: 500 !important;
	line-height: 1.3 !important;
	margin: .25em 0 !important;  /*color: red; cambiar color para visualizar mejor que se esta cambiando*/
}

/* modificar paneles sacar headings por parrafos o span */
.icon-item .h3_title {
	font-size: 1.6em !important;     /* global.scss line 90*/
	margin-top: 0 !important;     /* global.scss line 85*/
	margin-bottom: 0.2em;
	font-weight: 600;     /*color: red; cambiar color para visualizar mejor que se esta cambiando*/
}


/* Modificador para leaflet
   ======================================================================== */
// .markerCSS .leaflet-popup-content-wrapper {
// 	background: #2ce897;
// 	color: #eee;
// 	font-size: 12px;
// 	line-height: 24px;
// 	border-radius: 0px;
// }

// .markerCSS .leaflet-popup-content-wrapper a {
// 	color: rgba(200, 200, 200, 0.1);
// }

// .markerCSS .leaflet-popup-content {
// 	width: 400px;
// }

// .markerCSS .leaflet-popup-tip-container {
// 	margin-left: -5px;
// }

// .markerCSScluster {
// 	text-align: center;
// }

// .textCluster {
// 	color: white;
// 	margin-top: 13px;
// }

// .leaflet-fade-anim .leaflet-tile,
// .leaflet-zoom-anim .leaflet-zoom-animated {
// 	will-change: auto !important;
// }





@media screen and (max-width:767px) {
	.c_bajada {
		display: none;
	}

}
/* ajuste para respetar jerarquías en el listado de noticias
#divnoticias .panel h3,
#divnoticias .panel .h3 {
	font-weight: 600 !important;
	font-size: 18px;
	line-height: 1.3;
}*/

.pane-area-estructura .img-rounded {
	margin-top: 10px !important;
}



/* Destacados
   ======================================================================== */
#destacados .panel-default {
	border: none !important;
}

#destacados h3,
#destacados p {
	color: #fff !important;
}



/* Trámites (iconos)
   ======================================================================== */
.tramites-iconos .panel-default {
	border: none !important;
	margin-bottom: 5px !important;
}

.tramites-iconos {
	text-align: center !important;
}

.tramites-iconos .media-left {
	display: block;
	padding: 0 !important;
}

.tramites-iconos .media-left i {
	padding: 20px;
	margin: 0 auto 15px auto;
	display: block;
	width: 90px;
	height: 90px;
	border-radius: 90px;
	color: #fff !important;
	vertical-align: middle;
}

.tramites-iconos .media-left i.fa {
	padding: 30px 20px 20px 20px;
}

.tramites-iconos .panel h3,
.tramites-iconos .panel .h3 {
	color: $black;
}



/* Header
   ======================================================================== */
header nav .btn-link {
	color: #0072bb !important;
	margin-left: 20px !important;
}

header nav input#buscar {
	opacity: 0.9;
}

header nav input#buscar:focus {
	opacity: 1;
}




/* Panel
   ======================================================================== */
.panel h3,
.panel .h3 {
	color:$black;
}



@media (max-width:767px) {
	.navbar .navbar-brand {
		padding: 10px 15px 10px 0;
	}

	.navbar.navbar-top.state-search .navbar-nav.navbar-right > .btn {
		margin-left: 0 !important;
	}

}

.input-group .form-control:not(:first-child):not(:last-child),
.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child) {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border: 1px solid $black !important;
}

footer section section {
	padding: 0 0 30px 0 !important;
}

@media (max-width:490px) {
	.navbar .btn {
		margin-top: 10px;
	}

}

@media (max-width:767px) {
	.navbar .btn {
		margin: 13px 0 8px 10px;
	}

	.jumbotron .jumbotron_bar .breadcrumb,
	.pane-page-breadcrumb .breadcrumb {
		margin-bottom: 5px !important;
		min-width: 260px;
	}

}

@media (max-width:490px) {
	.navbar.navbar-top .input-group {
		margin: 9px 0 0 0;
	}

	.navbar-default {
		min-height: 70px;
	}

}

@media (max-width:768px) {
	.jumbotron div.jumbotron_bar .col-md-12 .list-inline li {
		display: inline-block !important;
		margin-top: 0;
	}

	footer section section {
		padding: 0 !important;
	}

	footer section section ul {
		margin-bottom: 0 !important;
		padding: 0;
	}

}

.breadcrumb a:hover {
	color: $black;
}

ul.dropdown-menu li a {
	width: 350px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
	border-radius: 30px !important;
}

.checkbox label,
.radio label {
	margin-top: 0 !important;
}

.main-footer {
	margin-top: 0 !important;
}

footer .nav > li > a:focus,
footer .nav > li > a:hover {
	background-color: transparent;
	opacity: .8;
}

.nav-pills > li > a {
	border-radius: 30px;
}

.dropdown .list-inline li {
	margin-bottom: 0 !important;
}

.panel-disabled,
.panel-disabled .h3,
.panel-disabled h3,
.panel-disabled p {
	color: $black !important;
}

.pane-area-estructura h2 {
	margin-bottom: 10px !important;
}

.pane-area-estructura .img-rounded {
	margin-bottom: 20px !important;
}

.well {
	border-width: 2px !important;
}

.node-unpublished {
	background-color: #fff !important;
}

/* Panel icon
   ======================================================================== */
// .panel-icon.panel-success .panel-heading {
// 	background-color: #2e7d33 !important;
// }

// .panel-icon.panel-info .panel-heading {
// 	background-color: #3e5a7e !important;
// }

// .panel-icon.panel-danger .panel-heading {
// 	background-color: #c62828 !important;
// }

// Hay diferencias con el color amarillo en variables
// .panel-icon.panel-warning .panel-heading {
// 	background-color: #f9a822 !important;
// }

// .panel-icon.panel-gray .panel-heading {
// 	background-color: #e5e5e5 !important;
// }

// .panel-icon.panel-white .panel-heading {
// 	background-color: $white !important;
// 	border: solid 1px $gray-light;
// 	border-radius: 10px;
// }

// .panel-icon.panel-muted .panel-heading {
// 	background-color: #555 !important;
// }

// .panel-icon.panel-fucsia .panel-heading {
// 	background-color: #EC407A !important;
// }

// .panel-icon.panel-arandano .panel-heading {
// 	background-color: #C2185B !important;
// }

// .panel-icon.panel-uva .panel-heading {
// 	background-color: #6A1B99 !important;
// }

// .panel-icon.panel-cielo .panel-heading {
// 	background-color: #039BE5 !important;
// }

// .panel-icon.panel-verdin .panel-heading {
// 	background-color: #6EA100 !important;
// }

// .panel-icon.panel-lima .panel-heading {
// 	background-color: #CDDC39 !important;
// }

// .panel-icon.panel-maiz .panel-heading {
// 	background-color: #FFCE00 !important;
// }

// .panel-icon.panel-tomate .panel-heading {
// 	background-color: #EF5350 !important;
// }

// .panel-icon.panel-naranja .panel-heading {
// 	background-color: #EF6C00 !important;
// }

// .panel-icon.panel-verde-azulado .panel-heading {
// 	background-color: #008388 !important;
// }






small {
	font-weight: 500 !important;
}

.social-share a {
	font-size: 20px;
	margin-top: -6px;
}

/*  ESTILOS ETAPA 2 ARGENTINA.GOB.AR */
.etapa2 .h3 {
	color: $black !important;
	font-size: 20px !important;
	text-shadow: none !important;
}

.etapa2 p {
	font-size: 16px !important;
	line-height: 22px !important;
	text-shadow: none !important;
	font-weight: 500 !important;
	color: #555 !important;
}

.etapa2 .text-muted {
	text-shadow: none !important;
}

.mt-3 {
	margin-top: 30px;
}

.input-search {
	border: none !important
}

.input-search:hover,
.input-search:focus {
	box-shadow: none !important
}

.box-campania {
	padding: 30px 0 0 0;
	background-color: #f3faff;
}

.container-campania {
	border-radius: 10px;
	width: 1270px !important;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (max-width:768px) {
	.panel-camp-principal {
		margin-top: 160px
	}

	.box-camp-principal {
		padding: 0px !important
	}

}

.container-campania {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 10px !important;
}

@media (min-width:300px) {
	.container-campania {
		width: 100% !important;
	}

}

@media (max-width:767px) {
	.container-campania {
		width: 100% !important;
		border-radius: 0px !important;
		height: 250px;
		overflow: visible;
	}

	.container-campania:not(:root:root) {
		margin-bottom: 155px;
	}

	.box-campania {
		padding: 0px;
	}

}

@media (min-width:768px) {
	.container-campania {
		width: 750px !important;
	}

}

@media only screen and (min-width:768px) and (max-width:991px) {
	.container-campania.jumbotron {
		height: 275px;
		margin-bottom: 150px
	}

	.panel.panel-default.panel-border-escarapela.etapa2.panel-camp-principal {
		margin-bottom: 30px;
		margin-top: 162px
	}

}

@media (min-width:992px) {
	.container-campania {
		width: 970px !important;
		min-height: 354px;
	}

}

@media (min-width:1200px) {
	.container-campania {
		width: 1170px !important;
	}

}

@media (min-width:1270px) {
	.container-campania {
		width: 1270px !important;
	}

}

.d-inline-block {
	display: inline-block !important;
}

.btn-search-reset {
	padding: 10px 11px !important;
	border: 1px solid $black !important;
	line-height: 1.38 !important;
}

@media (min-width:768px) and (max-width:991.98px) {
	#pastilla-campana-2 .panel-heading,
	#pastilla-campana-3 .panel-heading,
	#pastilla-campana-4 .panel-heading,
	#pastilla-campana-2 .panel-body,
	#pastilla-campana-3 .panel-body,
	#pastilla-campana-4 .panel-body {
		width: 50%;
		float: left;
		border-top-right-radius: 0px !important
	}

}

/* alineación central para las alertas solo de la home */
.align-middle .media-body {
	vertical-align: middle !important;
}

/* Footer
   ======================================================================== */
/*.main-footer {
	padding: 50px 0 0 0;
	margin-top: 10px;
	background: $gray-lighter !important;
}
*/
.sub-footer {
	background-color: $brand-primary;
	padding: 20px 0 40px 0;
}

@media print {
	.main-footer {
		display: none;
	}
}
