.breadcrumb {
  background: transparent;
  border: 0;
  margin: 16px 0 0;
  padding: 0;
  text-transform: none;

  li {
    font-size: 14px;
    line-height: 22px;
  }

  a {
    color: $brand-primary;
    text-decoration: none;

    &:hover {
      color: $white;
    }
  }

  &>li+li:before,
  &>.active {
    color: $gray;
  }
}

.jumbotron .breadcrumb a { 
	color:$white; 
	text-decoration: none;
}

.jumbotron .breadcrumb > .active, .jumbotron .breadcrumb > li + li:before { 
	 color: #fff
}	

.section-actions {
  margin: 16px 0 24px;
}

.jumbotron_bar {

  .breadcrumb {

    &>li+li:before,
    &>.active {
      color: $gray-border;
    }
  }
}

/*MIGAS*/
.pane-content {
	.jumbotron {
		.jumbotron_bar {
			background: #0f0f0f;
			position: absolute;
			padding: 0px;
			.breadcrumb {
				li {
					padding: 10px 0 5px 0;
				}
			}
			.breadcrumbs {
				li {
					padding: 10px 0 5px 0;
				}
			}
		}
	}
	.jumbotron_bar {
		a {
			font-size: 14px;
		}
		.breadcrumb {
			a {
				color: $white;
				&:hover {
					// color: $color_3;
					text-decoration: underline;
				}
			}
			li {
				&:first-of-type {
					&::after {
						color: $white;
					}
				}
				&::after {
					color: $white;
				}
			}
		}
		.breadcrumbs {
			a {
				color: $white;
				&:hover {
					// color: $color_3;
					text-decoration: underline;
				}
			}
			li {
				&:first-of-type {
					&::after {
						color: $white;
					}
				}
				&::after {
					color: $white;
				}
			}
		}
	}
	.breadcrumb {
		a {
			&:hover {
				color: $black;
				text-decoration: underline;
			}
		}
		li {
			padding: 16px 0 5px 0;
		}
	}
	.breadcrumbs {
		a {
			&:hover {
				color: $black;
				text-decoration: underline;
			}
		}
		li {
			padding: 16px 0 5px 0;
		}
	}
}
.breadcrumb.breadcrumb_expanded {
	margin-top: initial;
}
.breadcrumbs.breadcrumbs_expanded {
	margin-top: initial;
}
.breadcrumb {
	box-sizing: border-box;
	width: 100%;
	list-style: none;
	font-size: 14px;
	text-transform: none;
	padding: 0;
	li {
		display: inline;
		a {
			text-decoration: none;
		}
		&:after {
			content: "/";
			display: inline-block;
			padding: 0px 5px;
			color: $gray;
		}
		&:first-child {
			&:after {
				display: none;
			}
		}
		&:first-of-type {
			&:after {
				content: "/";
				display: inline-block;
				padding: 0px 5px;
				color: $gray;
			}
		}
	}
}
.breadcrumbs {
	box-sizing: border-box;
	width: 100%;
	list-style: none;
	font-size: 14px;
	text-transform: none;
	padding: 0;
	li {
		display: inline;
		a {
			text-decoration: none;
		}
		&:after {
			content: "/";
			display: inline-block;
			padding: 0px 5px;
			color: $gray;
		}
		&:first-child {
			&:after {
				display: none;
			}
		}
		&:first-of-type {
			&:after {
				content: "/";
				display: inline-block;
				padding: 0px 5px;
				color: $gray;
			}
		}
	}
}
.jumbotron_bar {
	position: absolute;
	top: -30px;
	width: 100%;
	.breadcrumb {
		margin: inherit;
		padding: 0px;
		margin-right: 10px;
	}
	.breadcrumbs {
		margin: inherit;
		padding: 0px;
		margin-right: 10px;
	}
}
.jumbotron {
	margin-top: 30px;
	li {
		padding: 10px 0 5px;
	}
}
.jumbotron.align-mid.m-t-0 {
	.jumbotron_bar {
		display: none;
	}
}
.jumbotron.m-t-0 {
	.jumbotron_bar {
		display: none;
	}
}
li.breadcrumb__toggle {
	display: none;
}
li.breadcrumbs__toggle {
	display: none;
}
.breadcrumb.breadcrumb_overflow.breadcrumb_expanded {
	li {
		&:after {
			content: "/";
			display: inline-block;
			padding: 0px 5px;
		}
	}
}
.breadcrumbs.breadcrumbs_overflow.breadcrumbs_expanded {
	li {
		&:after {
			content: "/";
			display: inline-block;
			padding: 0px 5px;
		}
	}
}
@media only screen and (max-width:991px) {
	.panel-pane.pane-page-breadcrumb {
		position: relative;
	}
	.panel-pane.pane-page-breadcrumbs {
		position: relative;
	}
	.breadcrumb {
		white-space: nowrap;
		.breadcrumb__toggle {
			float: left;
		}
	}
	.breadcrumbs {
		white-space: nowrap;
		.breadcrumbs__toggle {
			float: left;
		}
	}
	.breadcrumb.breadcrumb_overflow {
		white-space: normal;
		li {
			display: none;
			&:nth-last-child(-n+2) {
				display: block;
			}
		}
		li.breadcrumb__toggle {
			display: block;
		}
		li.last {
			display: block;
		}
		.breadcrumb__toggle {
			display: inline-block;
			a {
				&:before {
					content: "...";
				}
			}
		}
	}
	.breadcrumbs.breadcrumbs_overflow {
		white-space: normal;
		li {
			display: none;
			&:nth-last-child(-n+2) {
				display: block;
			}
		}
		li.breadcrumbs__toggle {
			display: block;
		}
		li.last {
			display: block;
		}
		.breadcrumbs__toggle {
			display: inline-block;
			a {
				&:before {
					content: "...";
				}
			}
		}
	}
	.breadcrumb.breadcrumb_overflow.breadcrumb_expanded {
		white-space: normal;
		margin-bottom: 40px;
		margin-top: 16px;
		li {
			display: contents;
			&::last-of-type {
				display: none;
			}
			&:nth-last-child(-n+2) {
				display: contents;
			}
		}
		.breadcrumb__toggle {
			position: absolute;
			transform: translate(0ch, 7ch);
			bottom: 6ch;
			display: block;
			float: inherit;
			a {
				&:before {
					display: inline-flex;
					color: $white;
					font-size: 75%;
					text-align: right;
					text-decoration: none;
					content: "Cerrar";
					width: 100%;
				}
			}
			&::after {
				content: "";
			}
		}
	}
	.breadcrumbs.breadcrumbs_overflow.breadcrumbs_expanded {
		white-space: normal;
		margin-bottom: 40px;
		margin-top: 16px;
		li {
			display: contents;
			&::last-of-type {
				display: none;
			}
			&:nth-last-child(-n+2) {
				display: contents;
			}
		}
		.breadcrumbs__toggle {
			position: absolute;
			transform: translate(0ch, 7ch);
			bottom: 6ch;
			a {
				&:before {
					display: inline-flex;
					color: $white;
					font-size: 75%;
					text-align: right;
					text-decoration: none;
					content: "Cerrar";
					width: 100%;
				}
			}
		}
	}
	.jumbotron {
		.breadcrumb.breadcrumb_overflow.breadcrumb_expanded {
			.breadcrumb__toggle {
				transform: translate(0ch, 7ch);
				position: absolute;
				bottom: 6ch;
			}
		}
		.breadcrumbs.breadcrumbs_overflow.breadcrumbs_expanded {
			.breadcrumbs__toggle {
				transform: translate(0ch, 7ch);
				position: absolute;
				bottom: 6ch;
			}
		}
		li {
			padding: 0px;
		}
	}
	.jumbotron_bar {
		.breadcrumb.breadcrumb_overflow.breadcrumb_expanded {
			margin-top: 10px;
		}
		.breadcrumbs.breadcrumbs_overflow.breadcrumbs_expanded {
			margin-top: 10px;
		}
	}
	.pane-content {
		.jumbotron_bar {
			.breadcrumb.breadcrumb_overflow.breadcrumb_expanded {
				.breadcrumb__toggle {
					a {
						&::before {
							color: $white;
						}
					}
				}
			}
			.breadcrumbs.breadcrumbs_overflow.breadcrumbs_expanded {
				.breadcrumbs__toggle {
					a {
						&::before {
							color: $white;
						}
					}
				}
			}
		}
	}
	.breadcrumb.breadcrumbs_overflow.breadcrumbs_expanded {
		.breadcrumbs__toggle {
			&::after {
				content: "";
			}
			display: block;
			float: inherit;
		}
	}
	.btn.menu-xs-sup.collapsed {
		&:focus {
			border: transparent !important;
		}
		&:active {
			border: transparent !important;
		}
		color: $gray;
	}
	.btn.menu-xs-sup {
		&:focus {
			border: transparent !important;
		}
		&:active {
			box-shadow: none;
		}
		color: $gray;
	}
	.panel-pane.pane-node-book-nav {
		.btn.menu-xs-sup.collapsed {
			width: 100%;
			text-align: left;
		}
		p.mb-1 {
			margin-bottom: 0px;
			a {
				margin: 0;
			}
		}
	}
	#collapseExample {
		border-top: 3px solid gray;
		ul {
			li {
				a {
					padding: 0px 20px;
				}
				a.active {
					color: $brand-primary;
					font-weight: bold;
					background: transparent;
				}
			}
		}
	}
	.page-sidebar {
		.nav-pills {
			li {
				a {
					color: $black;
				}
				>a {
					&:visited {
						color: $black;
					}
				}
			}
		}
		.nav {
			>li {
				>a {
					&:hover {
						background-color: transparent;
					}
					&:focus {
						background-color: transparent;
					}
				}
			}
		}
	}
	.fa.fa-list.pe-3 {
		color: $gray;
	}
	.pl-mp-activo.btn-title {
		font-size: inherit;
	}
	.nav-stacked {
		>li+li {
			margin-top: 0px;
		}
	}
}
