
.listas-destacadas {
  > ul {
    list-style: none;
    padding: 0;
  }
  
 > ul li * {
    list-style-type: disc;
}


 > ul > li {
    padding: 0;
    list-style: none;
    color: inherit;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.2;
    margin: 0 0 1.5rem;
}

 > ul > li:before {
    content: "\f061";
    display: inline-grid;
    vertical-align: top;
    font-size: 2rem;
    font-family: FontAwesome;
    line-height: 24px;
    margin-right: .5rem;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}



  
  
  @each $name, $color in $colores {
    &.#{$name} > ul li:before {
      color: var(--#{$name}, dodgerblue);
    }
  }
}
