/**
 * Poncho Map y Poncho Filter
 */
@keyframes pm-slidein {
    0% {
        right: calc(-1 * var(--pm-slider-width));
        opacity: 0;
        box-shadow: none;
    }

    100% {
        right: var(--pm-slider-distance);
        opacity: 1;
    }
}


/* Mensajes de error y warning */
.poncho-map--message {
    padding: 0.25em 0.75em;
    border-radius: 8px;
    margin: 1em 0;
    box-shadow: 0 2px 6px rgb(0, 0, 0, 0.1);
    color: black;

    &__icon {
        color: var(--gray-lighter);
        line-height: 1;
        font-size: 4rem;
        display: block;
        text-align: center;
        padding: 1rem;
        opacity: 0.5;
    }

    &.danger {
        // background: var(--tomate, $brand-tomate);
        padding: 1rem;
        background: var(--default, gray);
        color: var(--white, white);

        .title {
            color: white !important;
        }

        pre {
            color: rgb(255, 255, 255, 0.9);
        }
    }

    &.warning {
        background: var(--maiz, $brand-maiz);
        color: rgb(0, 0, 0, 0.8);

        .title {
            color: rgb(0, 0, 0, 0.8) !important;
        }

        pre {
            color: black;
        }
    }

    pre {
        background: rgb(0, 0, 0, 0.1);
        border: none;
    }
}





.poncho-map {
    --pm-slider-width: 326px;
    --pm-color-primary: var(--primary, #0072bb);
    --pm-map-background: #eee;
    --pm-color-base: inherit;

    --pm-slider-background: rgba(255, 255, 255, 1);
    --pm-slider-border: none;
    --pm-slider-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    --pm-slider-distance: 10px;
    --pm-slider-radius: 16px;
    --pm-slider-media-mobile-height: 100%;
    
    --pm-tooltip: #333;
    --pm-tooltip-color: white;
    
    --pm-active-marker-color: 255, 206, 0;
    --pm-slider-modal-color: var(--black);
    // define el color del halo para el marker activo
    --pm-active-marker-alpha: 0.5;
    // define la opacidad para el color del halo.
    --pm-accesible-background: #f2f2f2;

    --pm-loader-background: var(--pm-map-background);
    --pm-loader-spinner-color: var(--primary, #0072bb);
    --pm-loader-spinner-background: #ccc;
    --pm-loader-spinner-size: 80px;
    --pm-loader-spinner-weight: 4px;

    background-color: var(--pm-map-background);
    overflow: hidden;
    position: relative;
    width: 100%;

    @keyframes pm-loader-rotation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }


    &.black .leaflet-tile-pane {
        filter: sepia(0.19) brightness(0.75) contrast(1.2) hue-rotate(160deg) invert(1) grayscale(1) saturate(1.4) opacity(0.88);
        transition: filter .1s;
    }
    &.dark .leaflet-tile-pane {
        filter: opacity(0.81) sepia(0.19) brightness(0.8) contrast(1.6) hue-rotate(170deg) invert(1) grayscale(0.8) saturate(1.4);
        filter: sepia(0.19) brightness(0.75) contrast(1.2) invert(1) grayscale(1) saturate(1.4) opacity(0.88);
        transition: filter .1s;
    }
    
    &.grayscale .leaflet-tile-pane {
        filter: grayscale(1) brightness(1) saturate(.9) contrast(1.05);
        transition: filter .1s;
    }

    &.relax .leaflet-tile-pane {
        filter: grayscale(.75);
        transition: filter .1s;
    }
    
    &.default {
        filter: grayscale(.25);
        transition: filter .1s;
    }
    
    &.contrast .leaflet-tile-pane {
        filter: grayscale(1) invert(1) brightness(2);
        transition: filter .1s;
    }
    
    
    &.sepia .leaflet-tile-pane {
        filter: sepia(1) saturate(0.2) contrast(0.9);
        transition: filter .1s;
    }
    
    &.blue .leaflet-tile-pane {
        filter: sepia(1) hue-rotate(326deg) invert(1) brightness(8) saturate(0.45) grayscale(0.5) opacity(0.75);
        transition: filter .1s;
    }


    /* loader */
    &__loader {
        width: 100%;
        height: 100%;
        background: var(--pm-loader-background);
        position: absolute;
        left: 0;
        top: 0;
        z-index: 9999;
        padding: 1em;

        .loader {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -40px;
            width: var(--pm-loader-spinner-size);
            height: var(--pm-loader-spinner-size);
            border: var(--pm-loader-spinner-weight) solid var(--pm-loader-spinner-background);
            border-bottom-color: var(--pm-loader-spinner-color);
            border-radius: 50%;
            display: inline-block;
            box-sizing: border-box;
            animation: pm-loader-rotation 1s linear infinite;
        }
    }

    .sr-only {
        position: absolute;
        left: -9999em;
        top: -9999em;
    }

    .color-primary {
        color: var(--pm-color-primary);
    }

    .btn-close {
        border-radius: 50%;
        aspect-ratio: 1 / 1;
        position: absolute;
        background-image: none;
        width: auto;
        height: auto;
        top: 0.75rem;
        right: 0.75rem;
        background-color: transparent;
        color: var(--pm-color-base);
    }

    .marker--active {
        --color: 247, 149, 37;
        position: relative;
        // border-radius: 50%;
        box-shadow: 0 0 20px rgba(var(--pm-active-marker-color), 1);
        background: radial-gradient(circle,
                rgba(var(--pm-active-marker-color), var(--pm-active-marker-alpha)) 10%,
                rgba(var(--pm-active-marker-color), var(--pm-active-marker-alpha)) 80%);
    }

    /**
     * Estilos para los markers basados en <div>
     */
    &__div-icon {
        background-color: transparent;
        height: 38px;
        width: 38px;
        position: relative;
        display: block;
        margin: auto;
        text-align: center;
        border-radius: 50%;
    }

    &__div-icon>i {
        font-size: 1.7em;
        position: absolute;
        margin: auto;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        opacity: 0.9;
        transition: 0.2s;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    }

    &__div-icon:hover>i {
        opacity: 1;
        transition: 0.2s;
    }

    /**
     * Define el estlo para el slider
     */
    .slider {
        &.slider--in {
            right: var(--pm-slider-distance);
            animation-duration: 0.3s;
            animation-name: pm-slidein;
            box-shadow: var(--pm-slider-shadow);
        }

        img {
            max-width: 100%;
        }

        z-index: 1000;
        position: absolute;
        top: var(--pm-slider-distance);
        border: var(--pm-slider-border);
        right: calc(-1 * var(--pm-slider-width));
        background: var(--pm-slider-background);
        height: calc(100% - var(--pm-slider-distance) - var(--pm-slider-distance));
        width: var(--pm-slider-width);
        border-radius: var(--pm-slider-radius);

        .content-container {
            padding: 2.75rem 0.25rem 0.5rem 0.25rem;
            height: calc(100%);
        }

        .content {
            inline-size: min-content;
            color: var(--pm-color-base);
            height: 100%;
            width: 100%;
            overflow-y: auto;
            overflow-x: hidden;
            box-shadow: 0 -10px 20px var(--pm-slider-background) inset;
            padding: 0 0.75rem 1.5rem 0.75rem;
            word-break: break-word;

            &:after {
                content: "";
                background: var(--pm-slider-background);
                background: -moz-linear-gradient(0deg,
                        var(--pm-slider-background) 60%,
                        rgba(255, 255, 255, 0) 100%);
                background: -webkit-linear-gradient(0deg,
                        var(--pm-slider-background) 60%,
                        rgba(255, 255, 255, 0) 100%);
                background: linear-gradient(0deg,
                        var(--pm-slider-background) 60%,
                        rgba(255, 255, 255, 0) 100%);
                position: absolute;
                left: 0.25rem;
                width: calc(100% - 1.5rem);
                height: 40px;
                bottom: 0.25rem;
                border-bottom-left-radius: 12px;
            }
        }
    }

    path.marker--active {
        fill-opacity: 0.75 !important;
    }

    *:focus {
        outline: 3px solid var(--cielo, $brand-cielo) !important;
        box-sizing: border-box;
        border-radius: 3px;
        box-shadow: 0 0 8px var(--cielo, $brand-cielo) !important;
    }

    .accesible-nav {
        outline: none;
        position: absolute;
        left: -999em;
        line-height: 1.5em;
        z-index: 2000;
        min-height: 2em;
        background: rgba(0, 0, 0, 0.75);
        padding: 6px;
        border-radius: 16px;
        box-shadow: 1px 1px 8px rgb(0, 0, 0, 0.4);
        font-size: small;

        &:focus {
            outline: 2px solid var(--pm-accesible-background);
        }

        &.top:focus-within {
            top: 10px;
            left: 10px;
        }

        &.bottom:focus-within {
            bottom: 10px;
            left: 10px;
        }

        .accesible-nav__icon {
            margin-left: 3px;
            font-size: 1.5em;
            opacity: 1;
            color: #37bbed !important;
        }

        ul {
            font-size: 1rem;
            margin: 0;
            padding: 0;
            font-size: small;

            li {
                list-style: none;
            }
        }

        a {
            text-decoration: none;
            border-radius: 10px;
            list-style: none;
            color: white;
            margin: 0;
            min-height: 2em;
            padding: 5px 10px;
            display: block;

            &:focus {
                outline: 2px solid var(--pm-accesible-background) !important;
                color: black;
                box-shadow: none !important;
                background: var(--pm-accesible-background);
            }
        }
    }

    .select-items {
        padding: 0 0 0.75em;

        &__button {
            font-size: 0.75rem;
            border: none !important;
            border-radius: 9px;
            padding: 1px 0.75em;
            margin: 0 2px;
            color: var(--pm-color-primary, #ddd);
            transition: 0.2s;
        }

        &__button:hover {
            background-color: var(--primary, #5a5a5a);
            color: white;
            transition: 0.2s;
            box-shadow: 0 0 3px rgb(0 0 0 / 0.15);
        }

        &__button:first-of-type {
            margin-left: 0;
        }
    }

    // Filtros
    .filter-container {
        position: absolute;
        top: var(--pm-slider-distance);
        left: var(--pm-slider-distance);
        z-index: 999;
        max-height: calc(100% - 80px);

        // Botón para hacer un toggle con los filtros
        .btn-filter {
            text-align: center;
            background: var(--pm-slider-background, white);
            box-shadow: var(--pm-slider-shadow);
            line-height: 39px;
            color: var(--pm-color-base);
            width: 39px;
            height: 39px;
            margin: var(--pm-slider-distance) 0;
            border-radius: 50%;
            border: none
        }

        .js-filters {
            overflow: auto;
        }

        // Filter
        .poncho-map-filters {
            max-height: calc(100% - 158px);
            min-height: 150px;
            display: none;
            position: relative;
            z-index: 998;
            width: 250px;
            max-width: 300px;
            padding: 30px 15px 15px;
            border-radius: var(--pm-slider-radius);
            box-shadow: var(--pm-slider-shadow);
            color: var(--pm-color-base);
            background-color: var(--pm-slider-background);

            // Define el estado abierto del panel de filtro.
            &.filter--in {
                display: block;
            }

            // Flecha contenedor filtros
            &::after {
                content: " ";
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid var(--pm-slider-background);
                position: absolute;
                top: -6px;
                left: 10px;
                z-index: 990;
            }

            // Contenedor de fieldsets
            .field-list {
                min-height: 40px;
                max-height: calc(100% - 110px);
                overflow: auto;
                width: calc(100% - 30px);
            }

            legend {
                color: var(--pm-color-primary);
                margin-bottom: 0.75em;
                opacity: 1;
            }

            fieldset {
                border: none;
            }

            // setea el color para el fondo de los checkbox e inputs.
            input[type="checkbox"],
            input[type="radio"] {
                accent-color: var(--pm-color-primary) !important;
            }

            // parche fix hasta que se use bootstrap > 4
            .form-check {
                display: flex;
                align-items: baseline;
            }

            .form-check .form-check-label {
                color: var(--pm-color-base) !important;
            }
        }
    }

    /* Tooltip Leaflet personalizado */
    .leaflet-left .leaflet-control {
        margin-left: var(--pm-slider-distance);
    }

    .leaflet-top .leaflet-control {
        margin-top: var(--pm-slider-distance);
    }

    /* Tooltip */
    .leaflet-tooltip-left:before {
        right: 0;
        margin-right: -12px;
        border-left-color: var(--pm-tooltip, white);
    }

    .leaflet-tooltip-right:before {
        left: 0;
        margin-left: -12px;
        border-right-color: var(--pm-tooltip, white);
    }

    .leaflet-tooltip-own {
        padding: 3px 9px;
        background-color: var(--pm-tooltip, white);
        border: 0px solid #000;
        color: var(--pm-tooltip-color, black);
        white-space: nowrap;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border-radius: 6px;
        pointer-events: none;
        box-shadow: 0 1px 6px rgb(0 0 0 / 40%);
        transition: opacity 0.2s;
        font-size: 0.75rem;
        font-weight: normal;
    }

    

    /* leaflet popup */
    // previene el margen en p
    .leaflet-popup {
        p:first-child {
            margin-block-start: 0;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
        }

        .leaflet-popup-content-wrapper {
            border-radius: 16px;
        }

        .leaflet-popup-content-wrapper,
        .leaflet-popup-tip {
            background: var(--pm-slider-background);
            color: var(--pm-color-base);

            .leaflet-popup-content {
                width: calc(100% - 26px);
                inline-size: min-content;

                & .btn.btn-info,
                & .btn.btn-success,
                & .btn.btn-warning,
                & .btn.btn-primary {
                    color: white;
                }

                .info-container {
                    max-height: 800px;
                    overflow-y: auto;
                    width: 100%;
                }
            }
        }
    }

    /* leaflet controls*/
    .leaflet-marker-icon.leaflet-div-icon {
        background-color: transparent;
        border: none;
    }

    .leaflet-control-zoom.leaflet-bar {
        border-radius: 20px;
        overflow: hidden;
        box-shadow: var(--pm-slider-shadow);
        border: 1px solid #ddd;
    }

    .leaflet-control-zoom.leaflet-control a {
        width: 38px;
        height: 38px;
        line-height: 38px;
        color: #888;
    }

    .leaflet-control-zoom-in,
    .leaflet-control-zoom-out {
        font: 400 18px "Lucida Console", Monaco, monospace;
        text-indent: 1px;
    }

    .leaflet-control-zoom-out {
        font-size: 22px;
    }

    .leaflet-touch {
        .leaflet-control-zoom-in {
            font-size: 22px;
        }

        .leaflet-control-zoom-out {
            font-size: 24px;
        }

        a.leaflet-control-zoom-out {
            line-height: 32px;
        }

        a.leaflet-control-zoom-in,
        a.leaflet-control-zoom-reset,
        a.leaflet-control-zoom-out {
            background-color: var(--pm-slider-background);
            color: var(--pm-color-base);
            border-color: #ddd;
        }
    }

    .leaflet-container a.leaflet-popup-close-button.leaflet-popup-close-button {
        top: 5px;
        right: 5px;
    }
}

/*------------------------------------*\
#MOBILE
\*------------------------------------*/
@keyframes pm-slidein-mobile {
    0% {
        right: var(--pm-slider-distance);
        bottom: calc(-1 * var(--pm-slider-media-mobile-height));
        opacity: 0;
    }

    100% {
        bottom: var(--pm-slider-distance);
        opacity: 1;
        right: var(--pm-slider-distance);
    }
}


/* smartphones, iPhone, portrait 480x320 phones */
@media (max-width: 575.98px) {
    .poncho-map {
        &:has(.slider:is(.slider--in)) {
            position: relative;
            border-radius: calc(var(--pm-slider-radius) + var(--pm-slider-distance));
            transition: 0.4s;

            .leaflet-control-attribution {
                opacity: 0.5;
                display: none;
            }

            &::before {
                content: "";
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                position: absolute;
                z-index: 1000;
                background: var(--pm-slider-modal-color);
                opacity: 0.75;
                transition: 0.5s;
            }
        }

        .slider {
            height: calc(var(--pm-slider-media-mobile-height) - var(--pm-slider-distance) - var(--pm-slider-distance));
            top: auto;
            bottom: calc(-1 * var(--pm-slider-media-mobile-height));
            right: var(--pm-slider-distance);
            max-width: 100%;
            width: calc(100% - var(--pm-slider-distance) - var(--pm-slider-distance));

            &.slider--in {
                animation-name: pm-slidein-mobile;
                bottom: var(--pm-slider-distance);
            }
        }

        .poncho-map-filters {
            max-width: 50%;
            width: calc(100% - var(--pm-slider-distance) - var(--pm-slider-distance));
        }
    }
}


input[type="search"].js-poncho-map-search__input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    cursor: pointer;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><circle cx='10' cy='10' r='10' fill='whitesmoke'/><polygon points='15.35 6.03 13.97 4.65 10 8.63 6.03 4.65 4.65 6.03 8.63 10 4.65 13.97 6.03 15.35 10 11.38 13.97 15.35 15.35 13.97 11.38 10 15.35 6.03' fill='black'/></svg>");
}

.leaflet-control-attribution .leaflet-attribution-flag {
    display: none !important;
}