//== Colors
//## Colores poncho
$brand-gob-azul: #232D4F !default;
$brand-gob-azul-half: #9296A7 !default;
$brand-primary: #232D4F !default;
$brand-azul: #232D4F !default;
$brand-azul-marino: #232D4F !default;
$brand-primary-alt: #232D4F !default;
$brand-gob-secundario: #3E5A7E !default;
$brand-info: #3E5A7E !default;
$brand-secondary: #3E5A7E !default;
$brand-secundario: #3E5A7E !default;
$brand-gob-primary-light: #E3E7ED !default;
$brand-primary-light: #E3E7ED !default;
$brand-gob-arena: #EAE1B7 !default;
$brand-gob-arena-light: #FAF8ED !default;
$brand-gob-arena-dark: #E7BA61 !default;
$brand-gob-arena-half: #F5F0DB !default;
$brand-gob-amarillo: #E7BA61 !default;
$brand-gob-amarillo-light: #EAE1B7 !default;
$brand-gob-amarillo-dark: #AA5821 !default;
$brand-gob-amarillo-half: #F3DDB0 !default;
$brand-warning: #E7BA61 !default;
$brand-amarillo: #E7BA61 !default;
$brand-amarillo-intenso: #E7BA61 !default;
$brand-gob-marron-oscuro: #511901 !default;
$brand-gob-azul-morado: #3A3796 !default;
$brand-arg-verde: #2E7D33 !default;
$brand-arg-verde-light: #6EA015 !default;
$brand-arg-verde-half: #96BE99 !default;
$brand-arg-verde-dark: #1F5421 !default;
$brand-success: #2E7D33 !default;
$brand-verde: #2E7D33 !default;
$brand-arg-verdin: #6EA015 !default;
$brand-arg-verdin-light: #B9CE39 !default;
$brand-arg-verdin-dark: #2E7D33 !default;
$brand-verdin: #6EA015 !default;
$brand-arg-lima: #B9CE39 !default;
$brand-arg-lima-light: #DEE8A3 !default;
$brand-arg-lima-dark: #6EA015 !default;
$brand-limon: #B9CE39 !default;
$brand-lima: #B9CE39 !default;
$brand-arg-maiz: #FFCE1C !default;
$brand-arg-maiz-light: #FFE997 !default;
$brand-arg-maiz-dark: #B18F15 !default;
$brand-maiz: #FFCE1C !default;
$brand-arg-arandano: #C2185B !default;
$brand-arg-arandano-light: #EC407A !default;
$brand-arg-arandano-dark: #721038 !default;
$brand-arg-arandano-half: #E18CAD !default;
$brand-arandano: #C2185B !default;
$brand-arg-fucsia: #EC407A !default;
$brand-arg-fucsia-light: #F16798 !default;
$brand-arg-fucsia-dark: #9A144A !default;
$brand-cereza: #EC407A !default;
$brand-fucsia: #EC407A !default;
$brand-arg-rosado: #F48EAB !default;
$brand-arg-rosado-light: #FCDDE6 !default;
$brand-arg-rosado-dark: #ED3F85 !default;
$brand-arg-rosado-half: #FAC7D5 !default;
$brand-arg-lavanda: #9284BE !default;
$brand-lavanda: #9284BE !default;
$brand-arg-uva: #6A1B99 !default;
$brand-uva: #6A1B99 !default;
$arg-black: #141414 !default;
$brand-negro: #141414 !default;
$black: #141414 !default;
$gray-base: #141414 !default;
$brand-arg-muted: #7E848E !default;
$brand-gris: #7E848E !default;
$brand-muted: #7E848E !default;
$brand-arg-default: #838383 !default;
$brand-default: #838383 !default;
$brand-arg-gray-light: #DDDDDD !default;
$gray-light: #DDDDDD !default;
$gray-lighter: #DDDDDD !default;
$brand-arg-gray-hover: #E9E9E9 !default;
$gray-hover: #E9E9E9 !default;
$brand-arg-gray-hover-light: #F0F0F0 !default;
$gray-hover-light: #F0F0F0 !default;
$brand-arg-gray: #5B5F65 !default;
$gray: #5B5F65 !default;
$brand-grisintermedio: #5B5F65 !default;
$brand-gris-area: #5B5F65 !default;
$brand-arg-gray-dark: #37393D !default;
$gray-dark: #37393D !default;
$brand-arg-gray-border: #DEE2E6 !default;
$gray-border: #DEE2E6 !default;
$brand-arg-palta: #50B7B2 !default;
$brand-arg-palta-half: #A8DBD9 !default;
$brand-palta: #50B7B2 !default;
$brand-arg-verde-azulado: #3B8681 !default;
$brand-verde-azulado: #3B8681 !default;
$brand-verdeazulado: #3B8681 !default;
$brand-arg-cielo: #039BE5 !default;
$brand-cielo: #039BE5 !default;
$brand-celeste-argentina: #039BE5 !default;
$brand-escarapela: #039BE5 !default;
$brand-celesteargentina: #039BE5 !default;
$brand-arg-rojo: #C62828 !default;
$brand-arg-rojo-light: #E14543 !default;
$brand-arg-rojo-dark: #7C1C1C !default;
$brand-danger: #C62828 !default;
$brand-rojo: #C62828 !default;
$brand-arg-tomate: #EF5350 !default;
$brand-arg-tomate-light: #F69896 !default;
$brand-arg-tomate-dark: #C62828 !default;
$brand-complementary: #EF5350 !default;
$brand-tomate: #EF5350 !default;
$brand-arg-naranja: #EF6C00 !default;
$brand-arg-naranja-light: #EF6C00 !default;
$brand-arg-naranja-dark: #6C1805 !default;
$brand-naranjaoscuro: #EF6C00 !default;
$brand-naranja: #EF6C00 !default;
$brand-arg-mandarina: #F38500 !default;
$brand-arg-mandarina-light: #F9B640 !default;
$brand-arg-mandarina-dark: #CE5701 !default;
$brand-mandarina: #F38500 !default;
$arg-white: #FFFFFF !default;
$white: #FFFFFF !default;
$gray-background: #FFFFFF !default;
$brand-miarg-azul: #3526C3 !default;
$brand-miarg-azul-half: #6B66CC !default;
$brand-miarg-celeste: #2CB9EE !default;
$brand-miarg-amarillo-claro: #ffe9b8 !default;
$brand-miarg-rosa-claro: #EECCCF !default;
$brand-miarg-verde-claro: #CFEEDC !default;
$brand-miarg-oscuro: #222C50 !default;
$brand-miarg-gris: #7E848E !default;
$brand-miarg-celeste-claro: #BEE6F6 !default;
$brand-bandera-amarillo: #FCBF49 !default;
$brand-bandera-celeste: #75AADB !default;
$brand-bandera-marron: #843511 !default;
$brand-gna-verde-jade: #006666 !default;
$brand-verde-jade: #006666 !default;
$brand-verdejade: #006666 !default;
$brand-gna-verde-aloe: #4FBB73 !default;
$brand-verde-aloe: #4FBB73 !default;
$brand-gna-verde-cemento: #B4BEBA !default;
$brand-verde-cemento: #B4BEBA !default;
$brand-verdecemento: #B4BEBA !default;

$colores: ("gob-azul", $brand-gob-azul),
("gob-azul-half", $brand-gob-azul-half),
("primary", $brand-primary),
("azul", $brand-azul),
("azul-marino", $brand-azul-marino),
("primary-alt", $brand-primary-alt),
("gob-secundario", $brand-gob-secundario),
("info", $brand-info),
("secondary", $brand-secondary),
("secundario", $brand-secundario),
("gob-primary-light", $brand-gob-primary-light),
("primary-light", $brand-primary-light),
("gob-arena", $brand-gob-arena),
("gob-arena-light", $brand-gob-arena-light),
("gob-arena-dark", $brand-gob-arena-dark),
("gob-arena-half", $brand-gob-arena-half),
("gob-amarillo", $brand-gob-amarillo),
("gob-amarillo-light", $brand-gob-amarillo-light),
("gob-amarillo-dark", $brand-gob-amarillo-dark),
("gob-amarillo-half", $brand-gob-amarillo-half),
("warning", $brand-warning),
("amarillo", $brand-amarillo),
("amarillo-intenso", $brand-amarillo-intenso),
("gob-marron-oscuro", $brand-gob-marron-oscuro),
("gob-azul-morado", $brand-gob-azul-morado),
("arg-verde", $brand-arg-verde),
("arg-verde-light", $brand-arg-verde-light),
("arg-verde-half", $brand-arg-verde-half),
("arg-verde-dark", $brand-arg-verde-dark),
("success", $brand-success),
("verde", $brand-verde),
("arg-verdin", $brand-arg-verdin),
("arg-verdin-light", $brand-arg-verdin-light),
("arg-verdin-dark", $brand-arg-verdin-dark),
("verdin", $brand-verdin),
("arg-lima", $brand-arg-lima),
("arg-lima-light", $brand-arg-lima-light),
("arg-lima-dark", $brand-arg-lima-dark),
("limon", $brand-limon),
("lima", $brand-lima),
("arg-maiz", $brand-arg-maiz),
("arg-maiz-light", $brand-arg-maiz-light),
("arg-maiz-dark", $brand-arg-maiz-dark),
("maiz", $brand-maiz),
("arg-arandano", $brand-arg-arandano),
("arg-arandano-light", $brand-arg-arandano-light),
("arg-arandano-dark", $brand-arg-arandano-dark),
("arg-arandano-half", $brand-arg-arandano-half),
("arandano", $brand-arandano),
("arg-fucsia", $brand-arg-fucsia),
("arg-fucsia-light", $brand-arg-fucsia-light),
("arg-fucsia-dark", $brand-arg-fucsia-dark),
("cereza", $brand-cereza),
("fucsia", $brand-fucsia),
("arg-rosado", $brand-arg-rosado),
("arg-rosado-light", $brand-arg-rosado-light),
("arg-rosado-dark", $brand-arg-rosado-dark),
("arg-rosado-half", $brand-arg-rosado-half),
("arg-lavanda", $brand-arg-lavanda),
("lavanda", $brand-lavanda),
("arg-uva", $brand-arg-uva),
("uva", $brand-uva),
("arg-black", $arg-black),
("negro", $brand-negro),
("black", $black),
("gray-base", $gray-base),
("arg-muted", $brand-arg-muted),
("gris", $brand-gris),
("muted", $brand-muted),
("arg-default", $brand-arg-default),
("default", $brand-default),
("arg-gray-light", $brand-arg-gray-light),
("gray-light", $gray-light),
("gray-lighter", $gray-lighter),
("arg-gray-hover", $brand-arg-gray-hover),
("gray-hover", $gray-hover),
("arg-gray-hover-light", $brand-arg-gray-hover-light),
("gray-hover-light", $gray-hover-light),
("arg-gray", $brand-arg-gray),
("gray", $gray),
("grisintermedio", $brand-grisintermedio),
("gris-area", $brand-gris-area),
("arg-gray-dark", $brand-arg-gray-dark),
("gray-dark", $gray-dark),
("arg-gray-border", $brand-arg-gray-border),
("gray-border", $gray-border),
("arg-palta", $brand-arg-palta),
("arg-palta-half", $brand-arg-palta-half),
("palta", $brand-palta),
("arg-verde-azulado", $brand-arg-verde-azulado),
("verde-azulado", $brand-verde-azulado),
("verdeazulado", $brand-verdeazulado),
("arg-cielo", $brand-arg-cielo),
("cielo", $brand-cielo),
("celeste-argentina", $brand-celeste-argentina),
("escarapela", $brand-escarapela),
("celesteargentina", $brand-celesteargentina),
("arg-rojo", $brand-arg-rojo),
("arg-rojo-light", $brand-arg-rojo-light),
("arg-rojo-dark", $brand-arg-rojo-dark),
("danger", $brand-danger),
("rojo", $brand-rojo),
("arg-tomate", $brand-arg-tomate),
("arg-tomate-light", $brand-arg-tomate-light),
("arg-tomate-dark", $brand-arg-tomate-dark),
("complementary", $brand-complementary),
("tomate", $brand-tomate),
("arg-naranja", $brand-arg-naranja),
("arg-naranja-light", $brand-arg-naranja-light),
("arg-naranja-dark", $brand-arg-naranja-dark),
("naranjaoscuro", $brand-naranjaoscuro),
("naranja", $brand-naranja),
("arg-mandarina", $brand-arg-mandarina),
("arg-mandarina-light", $brand-arg-mandarina-light),
("arg-mandarina-dark", $brand-arg-mandarina-dark),
("mandarina", $brand-mandarina),
("arg-white", $arg-white),
("white", $white),
("gray-background", $gray-background),
("miarg-azul", $brand-miarg-azul),
("miarg-azul-half", $brand-miarg-azul-half),
("miarg-celeste", $brand-miarg-celeste),
("miarg-amarillo-claro", $brand-miarg-amarillo-claro),
("miarg-rosa-claro", $brand-miarg-rosa-claro),
("miarg-verde-claro", $brand-miarg-verde-claro),
("miarg-oscuro", $brand-miarg-oscuro),
("miarg-gris", $brand-miarg-gris),
("miarg-celeste-claro", $brand-miarg-celeste-claro),
("bandera-amarillo", $brand-bandera-amarillo),
("bandera-celeste", $brand-bandera-celeste),
("bandera-marron", $brand-bandera-marron),
("gna-verde-jade", $brand-gna-verde-jade),
("verde-jade", $brand-verde-jade),
("verdejade", $brand-verdejade),
("gna-verde-aloe", $brand-gna-verde-aloe),
("verde-aloe", $brand-verde-aloe),
("gna-verde-cemento", $brand-gna-verde-cemento),
("verde-cemento", $brand-verde-cemento),
("verdecemento", $brand-verdecemento);