
/*CONTENIDO DE LA PAGINA TRAMITAR V1.1*/
.desplegable-tramitar {
	border: 2px solid #242c4f;
	border-radius: 8px;
	a {
		text-decoration: none;
	}
	summary {
		&::before {
			right: .5em;
			left: auto;
		}
		border-bottom: 2px solid #242c4f;
	}
}
.items-desplegable-tramitar {
	border-radius: 15px;
	padding: 5px 0 2px 5px;
	margin: 8px;
	display: table;
	font-weight: 500;
	.icon-select-margin {
		&::before {
			content: "\f096";
		}
	}
}
.items-desplegable-tramitar-select {
	border: 3px solid #2E7D33;
	border-radius: 15px;
	padding: 5px;
	margin: 8px;
	height: auto;
}
.icon-select-margin {
	margin-right: 5px;
	margin-left: 0px;
}
a.items-desplegable-tramitar {
	&:hover {
		background: #e3e7ed;
	}
}
.items-desplegable-tramitar.activo {
	.icon-select-margin {
		&::before {
			content: "\f046";
		}
	}
}
.listas-destacadas {
	>ul {
		>li {
			&::before {
				display: none;
			}
		}
	}
}
.list-inline {
	>li {
		display: flex;
		width: 100%;
		a {
			width: 100%;
		}
	}
}
.ar-details__content.p-r-1 {
	padding-left: .5rem;
	padding-right: .15rem !important;
}
.m-t-05 {
	margin-top: 0.5rem;
}
.m-r-05 {
	margin-right: 0.5rem;
}
.f-rigth {
	float: right;
}
.f-left {
	float: left;
}
.bdr-l {
	margin: 20px 0px;
	float: right;
}
@media (min-width: 991px) {
	li.items-desplegable-tramitar {
		width: 100%;
	}
}
@media (max-width: 991px) {
	.jumbotron_body {
		img {
			width: 60%;
		}
	}
}
