// Mofifica valores generales para los headers.
body {
  @include family-sans-serif-attributes;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  @include family-serif-attributes;
  margin: .5em 0 .7em 0;

  small,
  .small {
    color: $gray;
  }

  &.section-title {
    color: $gray;
    margin-bottom: 24px;
  }
}

h1, .h1 {
  font-size: 2.5rem;


  &.section-title {
    font-size: 1.8em;
  }
}

h2, .h2 {
  font-size: 2rem;

  &.section-title {
    font-size: 1.6em;
  }
}

h3, .h3 {
  font-size: 1.75rem;

  &.section-title {
    font-size: 1.4em;
  }
}

h4, .h4 {
  font-size: 1.5rem;

  &.section-title {
    font-size: 1.2em;
  }
}

h5, .h5 {
  font-size: 1.25rem;

  &.section-title {
    font-size: 1em;
  }
}

h6, .h6 {
  font-size: 1rem;

  &.section-title {
    font-size: 0.8em;
  }
}

a {
  color: $brand-primary;
  font-weight: inherit;


  border: 0;
  cursor: pointer;
  padding-inline: 0.125rem;
  text-decoration: underline;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
  text-underline-offset: 0.25em;


  &:hover,
  &:focus,
  &:active {
    color: $link-hover-color;
    
  }
}

main a:not(.btn) {
  word-wrap: break-word;
  word-break: break-word;
}

/* ///  INICIO CORTE DE PALABRA TITULOS PANELES  /// */
.pane-atajos h3, .pane-atajos .h3 {
		font-size: 1.18rem
}
/* ///  Saco corte de palabra en la home  /// */
.front .pane-atajos h3, .front .pane-atajos .h3 {
		font-size: 1.28rem
}
/* ///  FIN CORTE DE PALABRA TITULOS PANELES  /// */

p, li, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, table tbody {

  a {
      text-decoration: underline;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }  

}



p,
ul,
ol,
table,
fieldset { font-weight: 400; }

b, strong {
    font-weight: 600;
}

.text-muted, time {
  color: $gray;
}
.text-gray {
  color: $gray-dark;
}

.lead {
  font-size: $font-base-weight + 2;
  font-weight: 500;
  line-height: 1.2;
}

.help-block{
  font-size: $font-base-weight -2;
	color: $gray
}


.jumbotron {
  p {
    font-weight: 400;
  }
  h1 {
    &.h1-sm {
      font-size: 44px;
    }
  }
}

h2 {
  &.h2-lg {
    font-size: 4em;
  }
}

h3 {
  &.h3-lg {
    font-size: 2.85em;
  }
}

h4 {
  &.h4-lg {
    font-size: 2.3em;
  }
}

article {
  h1 {
    &.icon {
      font-size: 7em;
      line-height: 0;
      margin: 0;

      &.aside {
        line-height: 1.5;
        text-align: center;
        }
      }

    }
}

.row-color {
  h3 {
    color: $white;
    font-size: 32px;
    margin-top: 10px;
  }
}

.content_format {
  h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 2em;
  }

  .alert,
  .well {
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
      margin: .5em 0;
    }
  }

  li {
    margin: 0 0 15px;
  }

  .additional_data {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 10px;
    }
  }

  .credits {
    p {
      color: $gray;
      font-size: $font-base-weight - 3;
      line-height: $font-base-weight - 1;
      margin-top: 40px; 
    }

    cite {
    border-top: 1px solid #b4beba;
    padding-top: $font-base-weight;
    display: block;
    font-style: normal;
    font-size: 85%;
  }

  }

}


@media (min-width: 768px) {
  p {
    font-size: $font-base-weight;
  }

}
@media (min-width: 992px) {
  .jumbotron {
    li {
      font-size: $font-base-weight - 2;

      a {
        font-weight: 400;
      }
    }
  }
  .lead {
    font-size: $font-base-weight + 2;
  }
}
