@import "_poncho-colors";

//** Default label background color
$label-default-bg: $gray-light !default;
//** Primary label background color
$label-primary-bg: $brand-primary !default;
//** Success label background color
$label-success-bg: $brand-success !default;
//** Info label background color
$label-info-bg: $brand-info !default;
//** Warning label background color
$label-warning-bg: $brand-warning !default;
//** Danger label background color
$label-danger-bg: $brand-danger !default;

//** Default label text color
$label-color: #fff !default;
//** Default text color of a linked label
$label-link-hover-color:#fff !default;

$grid-gutter-width: 30px;
//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg: #fff !default;
//** Global text color on `<body>`.
$text-color: $gray-base !default;

//** Global textual link color.
$link-color: $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color: $brand-uva;
//** Link hover decoration.
$link-visited: $brand-uva !default;

$dark-opacity: rgba(0, 0, 0, .5);
$dark-opacity-IE: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);

$shadow: 0 2px 2px rgba(0, 0, 0, .2);


$font-family-sans-serif: 'Montserrat', sans-serif !default;
$font-family-serif: 'Lora',serif !default;
$font-base-weight: 18px !default;
$font-family-base: $font-family-sans-serif;

@mixin family-sans-serif-attributes {
    letter-spacing:-.15pt;
    font-size: $font-base-weight;
    font-family: $font-family-sans-serif;
}

@mixin family-serif-attributes {
    letter-spacing:-.2pt;
    font-family: $font-family-serif;
    font-weight: 700;
}
