.poncho-map {
    container-type: inline-size;
    container-name: canvasWidthSize;
}
@container canvasWidthSize (min-width: 0) {
    .slider-large .pm-slider {
        --pm-slider-width: calc(100% - 20px);
    }
}
@container canvasWidthSize (min-width: 576px) {
    .slider-large .pm-slider {
        --pm-slider-width: calc(50% - 20px);
    }
}

@container canvasWidthSize (min-width: 0) {
    .slider-default .pm-slider {
        --pm-slider-width: calc(100% - 20px);
    }
}
@container canvasWidthSize (min-width: 576px) {
    .slider-default .pm-slider {
        --pm-slider-width: calc(100% / 2 - 20px);
    }
}
@container canvasWidthSize (min-width: 770px) {
    .slider-default .pm-slider {
        --pm-slider-width: inherit;
    }
}
