#{$scope} {
    footer {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: none;
        background: transparent;
        color: inherit;
        font-size: 1rem;
        line-height: normal;
        text-align: left;
        text-decoration: none;
        display: block;
        min-width: 0;
        min-height: 0;
    }

    .pm-open-map {
        min-height: auto;
        position: relative;
        padding: 4px;
        left: 1px;
        width: calc(100% - 2px);
        margin: 0;
        border: none;
        color: var(--pm-color-base);
        bottom: 1px;
        z-index: 999;
        font-size: 0.75rem;
        background: var(--pm-slider-background);


        border-radius: 0;
        border-bottom-left-radius: max(calc(var(--pm-slider-radius) / 2),
        calc(var(--pm-slider-radius) - var(--pm-content-padding) + 13px)) !important;
        border-bottom-right-radius: max(calc(var(--pm-slider-radius) / 2),
        calc(var(--pm-slider-radius) - var(--pm-content-padding) + 13px)) !important;


        >details>summary:focus-within,
        >details>summary:focus {
            outline: none !important;
            box-shadow: none !important
        }

        >details {
            --summary-padding-t: 4px;
            --summary-padding-b: 4px;
            border-color: var(--pm-slider-border-color) transparent transparent !important;
            border-style: solid;
            border-width: var(--pm-slider-border-width);
            border-radius: 0;
            padding-top: 0;
            padding-bottom: 0;
        }

        >details>summary:before {
            background-color: transparent;
        }

        >details:focus,
        >details:focus-within {
            @include borderRadius(max(calc(var(--pm-slider-radius) / 2),
                    calc(var(--pm-slider-radius) - var(--pm-content-padding) - 2px)) !important);
            box-shadow: 0 1px calc(var(--pm-content-padding) / 2) rgb(0 0 0 / 0.3);
            outline: 2px solid var(--cielo, #039be5);
            outline-style: solid;
        }

        >details[open] {
            border: var(--pm-slider-border-width) solid var(--pm-slider-border-color) !important;
            border-radius: max(calc(var(--pm-slider-radius) / 2),
                    calc(var(--pm-slider-radius) - var(--pm-content-padding) + 8px)) !important;

            box-shadow: 0 1px calc(var(--pm-content-padding) / 2) rgb(0 0 0 / 0.3);
        }

        >details>summary {
            color: var(--pm-color-base) !important;
            font-weight: 600;
            padding-left: var(--pm-content-padding);
            padding-right: var(--pm-content-padding);
        }

        details[open] summary~* {
            padding: 0 calc(var(--pm-content-padding) / 2);
        }

        ul>li>a {
            margin-bottom: 2px;
            border-radius: calc(var(--pm-slider-radius) - var(--pm-slider-distance));
            display: block;
            transition: 0.3s;
            padding: calc(var(--pm-content-padding) / 2) calc(var(--pm-content-padding) / 2);
            color: var(--pm-color-base);
            text-decoration: none;

            &:hover,
            &:focus {
                background-color: var(--pm-hover-background);
                color: var(--pm-hover-color);
                transition: background 0.15s;
            }
        }
    }
}