#{$scope}  {
    --pm-slider-width: 326px;
    --pm-tools-width: 250px;
    --pm-color-primary: var(--primary, #0072bb);
    --pm-map-background:#eee;
    
    --pm-color-base: var(--black, #333);
    --pm-content-padding: 15px;
    
    --pm-hover-background: #ddd;
    --pm-hover-color: var(--pm-color-base);
    --pm-active-color: white;
    --pm-active-background: var(--pm-color-primary);

    --pm-slider-background: rgba(255, 255, 255, 1);
    --pm-slider-border: none;
    --pm-slider-border-color: #ddd;
    --pm-slider-border-width: 1px;

    --pm-slider-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    --pm-slider-distance: 10px;
    --pm-slider-radius: 16px;
    --pm-slider-media-mobile-height: 100%;
    
    --pm-tooltip: #333;
    --pm-tooltip-color: white;
    
    --pm-slider-modal-color: var(--black);
    
    --pm-active-marker-color: 255, 206, 0;
    --pm-active-marker-alpha: 0.5;

    --pm-accesible-background: #eaeaea;

    --pm-loader-background: var(--pm-map-background);
    --pm-loader-spinner-color: var(--pm-color-primary);
    --pm-loader-spinner-background: #ccc;
    --pm-loader-spinner-size: 80px;
    --pm-loader-spinner-weight: 4px;

    --pm-scrollbar-handle: #444;
    --pm-scrollbar-background: #ddd;
}