<!DOCTYPE html>
  <html lang="es">
    {% include argentina/head.html %}
  <body>

    {% include argentina/header.html %}
    <main role="main">
      {{ content }}
    </main>
    <footer class="main-footer sticky-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <img class="image-responsive" alt="Argentina.gob.ar - Presidencia de la Nación" src="{{ "/img/argentinagob.svg" | prepend: site.baseurl }}">
            <br>
            <p class="text-muted small">Los contenidos de Argentina.gob.ar están licenciados bajo <a href="https://creativecommons.org/licenses/by/2.5/ar/">Creative Commons Reconocimiento 2.5 Argentina License</a></p>
          </div>
          <div class="col-md-3 col-sm-6">
            <ul>
              <li><a href="pagina.html">Página</a></li>
              <li><a href="pagina-area.html">Página de área</a></li>
              <li><a href="pagina-navegacion.html">Página con navegación</a></li>
              <li><a href="noticia.html">Noticia</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6">
            <ul>
              <li><a href="#">Términos y condiciones</a></li>
              <li><a href="#">Mapa del sitio</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <script src="{{ "/node_modules/jquery/dist/jquery.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/node_modules/bootstrap/dist/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
  </body>
</html>
