---
layout: argentina
---
<!-- Articulo Principal -->

<article>
  <header>
    <section class="jumbotron jumboarticle" style="background-image:url('img/modernizacion.jpg');">
      <div class="jumbotron_bar">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <ol class="breadcrumb pull-left">
                <li><a href="#">Argentina</a></li>
                <li><a href="#">Ministerio de Modernización</a></li>
                <li><a href="#">Noticias</a></li>
                <li class="active"><span>Pondrán en 1circulación billetes de 200 y 500 pesos</span></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="container">
      <div class="row">
          <div class="col-md-8 col-md-offset-2 overlap">
              <div class="title-description">
                <h1>h1. Pondrán en circulación billetes de 200 y 500 pesos</h1>
                <p>El Banco Central de la República Argentina (BCRA) informó que lo hará a mediados de año. Para 2017 proyecta emitir con nominación de 1.000 pesos.</p>
                <div class="row">
                  {% include argentina/redes-sociales.html param="col-sm-6"  %}
                  <div class="col-md-6 additional_data">
                    <time class="text-muted">Publicado el 09 de Diciembre de 2015</time>
                  </div>
                </div>
                <hr>
              </div>
          </div>
      </div>
    </div>
  </header>

  <section class="content_format">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2>h2. Lorem ipsum dolor sit amet</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <h3>h3. Lorem ipsum dolor sit amet</h3>
          <ul>
            <li>Et harum quidem rerum facilis est et expedita distinctio.</li>
            <li>Non enim ipsa genuit hominem, sed accepit a natura inchoatum.</li>
            <li>An est aliquid per se ipsum flagitiosum, etiamsi nulla comitetur infamia?</li>
            <li>Nonne videmus quanta perturbatio rerum omnium consequatur, quanta confusio?</li>
            <li>Etenim semper illud extra est, quod arte comprehenditur.</li>
          </ul>

          <h4>h4. Lorem ipsum dolor sit amet</h4>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

        <div class="col-md-12 text-center">
          <figure>
            <img src="img/billete.jpg" alt="Billete de 500 pesos con el Baby Yaguareté">
            <figcaption>Excepteur sint occaecat cupidatat non proident</figcaption>
          </figure>
        </div>
        <div class="col-md-8 col-md-offset-2">
          <h4>h4. Lorem ipsum dolor sit amet</h4>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <!-- Compartir en redes sociales -->
          <hr>
          {% include argentina/redes-sociales.html param="is_area"  %}


        </div>
      </div>
    </div>
  </section>
</article>

<!-- Noticias Relacionadas/Ultimas -->

<section class="container related-news">
  <div class="row">
    <div class="col-md-12">
      <h2 class="h3 section-title">Últimas noticias del área</h2>

      <div class="row panels-row">
        <div class="col-md-3">
          <a href="#" class="panel panel-default">
            <div class="panel-heading" style="background-image:url('img/placeholder.png');"></div>
            <header class="panel-body">
              <time class="text-muted">10 de Diciembre de 2015</time>
              <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
            </header>
          </a>
        </div>
        <div class="col-md-3">
          <a href="#" class="panel panel-default">
            <div class="panel-heading" style="background-image:url('img/placeholder.png');"></div>
            <header class="panel-body">
              <time class="text-muted">09 de Diciembre de 2015</time>
              <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
            </header>
          </a>
        </div>
        <div class="col-md-3">
          <a href="#" class="panel panel-default">
            <div class="panel-heading" style="background-image:url('img/placeholder.png');"></div>
            <header class="panel-body">
              <time class="text-muted">08 de Diciembre de 2015</time>
              <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
            </header>
          </a>
        </div>
        <div class="col-md-3">
          <a href="#" class="panel panel-default">
            <div class="panel-heading" style="background-image:url('img/placeholder.png');"></div>
            <header class="panel-body">
              <time class="text-muted">07 de Diciembre de 2015</time>
              <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
            </header>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
