.docs-examlpe {
  margin: 60px 0;
  .docs-content {
    padding: 30px;
    border: 4px solid $gray-lighter;
    border-radius: 8px 8px 0 0;
  }
  .docs-code {
    padding: 15px 30px;
    background: $gray-lighter;
    border: none;
    border-radius: 0 0 8px 8px;
  }
}

.docs-colores {
  margin: 30px 0 10px;

  span {
    display: inline-block;
    width: 110px;
    height: 110px;
    padding-top: 45px;
    margin: 0 20px 20px 0;
    text-align: center;
    border-radius: 110px;
  }
}

.docs-container {
  >h1, > h2, > h3, > h4, > h5, > h6 {
    margin-top: 2em;

    &.no-margin {
      margin-top: 0;
    }
  }
}


/* colores */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #ededed !important;
}

.docs-colores {
  float: left;

  span {
    color: #fff;
    text-align: center;
    margin: 0 20px 20px 20px;
    width: 110px;
    height: 110px;
    border-radius: 110px;
    padding-top: 45px;
    display: block;
    float: left;
    font-family: "OpenSans", Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
}

pre[class*="language-"] {
  padding: 2em !important;
}

#docs .docs-container hr{
  margin: 60px 0 60px
}

/*

#docs ul li ul {font-weight: normal;}

#docs ul#navbar-docs {width: 263px;}

@media only screen and (min-width: 768px ){
  #docs .page-sidebar .nav > li.active > .nav > li { display: block;}
}
@media only screen and (max-width: 767px ){
  #docs ul#navbar-docs {position: static;}
}

#docs .page-sidebar .nav .nav > li {display: none;}

#docs #navbar-docs ul > li {margin-top: 2px;}

#docs #navbar-docs ul > li > a {border-radius: 4px; font-size: 16px;}
#navbar-docs.affix {top: 55px;}

#docs .page-sidebar .nav-pills li>a {padding: 10px 15px;}
*/
