.navbar-brand {
  padding: 10px 0 10px 15px;

  img {
    float: left;
    max-width: 100%;
  }

  h1 {
    color: $brand-primary;
    float: left;
    font-size: 20px;
    margin: 4px 0 4px 12px;

    strong {
      color: $gray;
    }

    &.brand-2-h1 {
      color: $gray;

      strong {
        color: $brand-primary;
      }
    }

  }

  &.solo {
    h1 {
      margin-top: .7em;
    }
  }

}

.navbar-header {
  .duelo {
    margin: 14px 0 0 17px;
  }
}

.navbar-brand-2 {
  h1 {
    color: $gray;

    strong {
      color: $brand-primary;
    }
  }
}

.navbar-toggle {
  float: left;
  margin: 15px 0 0 5px;
}

a {
  &.btn {
    line-height: 1.42857143;
  }
}

.navbar-default {
  @include position(relative, null null null null);
  background-color: $white;
  border: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: $shadow;
  margin: 0;
  z-index: 9;

  .nav>li>a {
    color: $brand-primary;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    padding-bottom: 20px;
    padding-top: 22px;
    text-transform: uppercase;
  }

  .navbar-nav> {
    li>a {
      &:hover,
      &:focus {
        background: $brand-primary;
        color: $white;
      }
    }

    .active>a,
    .open>a {
      &,
      &:hover,
      &:focus {
        background: $brand-primary;
        color: $white;
      }
    }
  }

  .glyphicon-search {
    font-size: 20px;
    top: 4px;
  }

  .navbar-collapse,
  .navbar-form {
    border: 0;
  }

  .navbar-toggle {
    border-color: transparent;

    &:hover,
    &:focus {
      background-color: $brand-primary;

      .icon-bar {
        background-color: $white;
      }
    }
  }
}

.navbar-inverse {
  background-color: $brand-primary;
  border-color: $brand-primary;
  margin: 0;
  min-height: 32px;

  .nav>li>a {
    color: $white;
    font-size: 12px;
    line-height: 12px;
    padding: 8px 15px;
  }

  .navbar-nav>.open>a {
    &,
    &:hover,
    &:focus {
      background-color: $brand-primary;
      color: $white;
    }
  }
}


.navbar-top {
  border-radius: 0;
}

.navbar-error {
  min-height: 70px;

  .navbar-header {
    .navbar-brand {
      float: none;
      margin: 0 auto !important;
      width: 300px;
    }
  }
}

.nav.navbar-social li {
  &.text-muted {
    font-size: 1.4em;
    font-weight: normal;
    line-height: 1.2;
    margin: 1.1em .6em;
    text-transform: none;
  }

  a {
    font-size: 2.9em !important;
    height: 70px;
    line-height: .5;
  }
}

.navbar-form {
  .form-control {
    border: solid 1px $gray-light;
    border-right: 0;
    color: $text-color;
    font-size: 16px;
    height: 49px;
    padding-top: 12px;
    top: 4px;
  }

  .btn {
    margin-top: 4px;
  }
}

.form-control {
  border: solid 1px $gray-light;
}

.nav-news {
  padding: 48px 0 40px;

  li {
    float: left;
  }

  a {
    border-radius: 4px;
    color: $brand-primary;
    text-decoration: none;
  }

  .active a {
    &,
    &:hover,
    &:focus {
      background-color: $gray !important;
      color: $white;
      text-decoration: none !important;
    }
  }
}

.nav-news-mini {
  padding: 0 0 24px;
}

.tab-content {

  .tab-pane {
    @include position(relative, null null null null);
  }
}

@media (max-width: 767px) {


  .panel-index .navbar-brand {
    padding: 14px 15px !important;

    h1 {
        font-size: 14px !important;
        margin-left: 0 !important;
      }

    .brand {
      height: 36px;
    }
  }
}


@media (max-width: 979px) {

  .navbar-brand {
    h1 {
      font-size: 18px;
      margin: 7px 0 7px 12px;
    }
  }

  .navbar-default .nav>li {
    >a {
      font-size: 15px;
      padding-left: 10px;
      padding-right: 10px;
    }

    &:last-of-type > a {
      padding-left: 15px;
      padding-right: 15px;
    }

  }

}


@media screen and (min-width: 768px) {

  .navbar-form {
      margin-right: 0;
      .input-group>.form-control {
      width: 284px;
    }
}

  .navbar-inverse .collapse {
    margin-left: -45px;
    margin-right: -30px;
  }

}

@media screen and (max-width: 767px) {

  .navbar-default {
    min-height: 72px;
  }

  .navbar-form {
    margin-left: 0;
    margin-right: 0;
  }

  .navbar-brand {
    padding-right: 0;
  }
}

@media (max-width: 400px) {
  .navbar-default {
    min-height: 64px;
  }

  .navbar-brand {
    padding: 14px 15px;

    img {
      height: 36px;
      width: auto;
    }

    h1 {
      font-size: 14px;
      margin-left: 10px;
      }

  }
}

@media (max-width: 320px) {
  .navbar-brand {
    padding-top: 14px;

    img {
      height: 32px ;
    }

    h1 {
      margin-top: 8px;
      span {display: none;}
    }

    br {
      display: none;
    }
  }
}

