html,
body {
  padding: 0;
  margin: 0;
  background-color:#f4f4f4;
  height: 100%;
}

.doc-nav {
  display: block;
  background-color: #5a6a6a;
  border-radius: 15px;
  padding:.75em 1.5em;
  color: white;
  margin: .5em .5em 1.5em ;
}
.doc-nav * {color:white; text-decoration: none;}
.doc-nav > .list-unstyled { margin: 0;}

pre.demo-style {
  background-color:#eee;
  color:var(--mute);
  border-radius: 12px;
  padding: 1em 1.5em !important;
  border-color: #ddd;
}
