/**
 * ALERTAS 
 */

/**
 * Definición para los temas de color.
 */
$colorThemesAlerts: (
    "default": (
        themeColor: #555,
        backgroundColor: white,
        buttonColor: white,
    ),
    "info": (
        themeColor: $brand-arg-cielo,
        backgroundColor: lighten($brand-arg-cielo, 50%),
        buttonColor: white,
    ),
    "danger": (
        themeColor: $brand-arg-rojo,
        backgroundColor: lighten($brand-arg-rojo, 50%),
        buttonColor: white,
    ),
    "success": (
        themeColor: $brand-arg-verde,
        backgroundColor: lighten($brand-arg-verde, 62%),
        buttonColor: white,
    ),
    "warning": (
        themeColor: $brand-bandera-amarillo,
        backgroundColor: lighten($brand-bandera-amarillo, 32%),
        buttonColor: black,
    ),
);

#{$scopeAlert} {
    clear: both; // Para evitar que el recuadro se superponga con otros elementos flotantes.
    width: 100%;
    position: relative;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: var(--main-border-left-weight) solid var(--main-theme);
    border-radius: 2px;
    padding: var(--main-padding) var(--main-padding) var(--main-padding)
        var(--media-col-gap);
    margin-bottom: 20px;
    color: #555;
    background-color: var(--main-background);
    // box-shadow: var(--main-box-shadow);

    // Si el componente no tiene icono
    &:not(:has(.media-left)) {
        padding: var(--main-padding);
    }

    // Si hay un p vacío lo ocultamos para evitar que se vea un espacio en blanco.
    p:empty { display:none }

    // Cuando hay un p vacío y otro p antes de este, eliminamos el 
    // margin-bottom del p anterior para evitar un espacio en blanco.
    p:nth-last-child(2):has(+ p:empty) {
        margin-bottom:0
    }

    // REDEFINIMOS MEDIA
    .media {
        grid-template-columns: var(--media-grid-template-columns);
        display: grid;
        gap: var(--media-col-gap);

        &:not(:has(.media-left)) {
            grid-template-columns: 1fr;
        }

        .media-left {
            padding: {
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
            }

            text-align: center;

            i {
                color: var(--main-theme);
            }
        }

        .media-body {
            width: auto;
            align-self: center;
        }

        .h5,
        *.h5,
        h5 {
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }
    }

    // Corrección de tamaños.
    .fa-1x,
    .fa-2x,
    .fa-4x,
    .fa-3x,
    .fa-5x {
        font-size: var(--icon-size) !important;
    }

    p {
        margin-bottom: 1em;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .btn {
        @include button-variant(
            $brand-arg-primary,
            #fff,
            $brand-arg-gray-light
        );
    }
}

@media (max-width: 768px) {
    #{$scopeAlert} {
        padding: var(--main-padding);

        .media {
            grid-template-columns: none;
            grid-template-rows: auto;
            row-gap: var(--media-row-gap);

            .media-left {
                text-align: left;
            }
        }
    }
}

@each $themeName, $themeValues in $colorThemesAlerts {
    #{$scopeAlert}#{$scopeAlert}-#{$themeName} {
        --main-theme: #{map-get($themeValues, themeColor)};
        --main-background: #{map-get($themeValues, backgroundColor)};
    }
    #{$scopeAlert}#{$scopeAlert}-#{$themeName} .btn {
        @include button-variant(
            map-get($themeValues, buttonColor),
            map-get($themeValues, themeColor),
            map-get($themeValues, themeColor)
        );
    }
}

// Para que el botón de cerrar quede alineado a la derecha.
.alert-dismissible .close {
    right: 0px;
}