
/* 
    Container para el recuadro destacado. 
    Evita que el ancho supere un col-md-8 
*/
.highlight-wrapper {
    container: sidebar / inline-size;
    clear: both;
}

.highlight-wrapper.container-fluid > #{$scopeAlert},
.highlight-wrapper.container-fluid > #{$recuadrosScope} {
    width: 100%;
}

@container sidebar (width > 780px) {
    #{$scopeAlert} {
        box-sizing: border-box;
        //width: 66.66666667%;
        width: calc((100% / 3) * 2);
        margin: auto;
    }
}