
$primary: #0072BB;
$success: #2E7D33;
$danger: #C62828;
$warning: #F9A822;
$info: #2897D4;
$body-color: #333;
$enable-responsive-font-sizes: true;
$body-bg: #F2F3F4;
$font-family-sans-serif: Arial;
$font-family-monospace: Arial;
$font-family-base: Roboto;
$secondary: #FFF;
$link-hover-decoration: ;
$link-decoration: underline;
$font-weight-bold: 600;
$table-dark-color: $body-color;
$display1-weight: 600;
$display2-weight: 600;
$display3-weight: 600;
$display4-weight: 600;
$lead-font-weight: 400;
$headings-font-weight: 600;