---
# Only the main Sass file needs front matter (the dashes are enough)
---
/*!
 * Poncho (documentacion) v0.3 (https://github.com/argob/poncho)
 * Copyright 2016
 * Subsecretaría de Gobierno Digital
 * Presidencia de la Nación Argentina
 * Licenciado bajo MIT (https://github.com/argob/poncho/LICENSE)
 */

/* Resources */

@import "variables";
@import "docs";
