.scope {
    display: flex;

    gap: 10px;
    margin-bottom: 1em;
    width: 100%;
}

.sample {
    text-align: center;
    width: 90px;
    border-radius: 6px;
    background-color: #f4f4f4;
    font-size: small;
    padding: 0;
    box-shadow: 0px 1px 2px rgba(0 0 0 / .15);

    .text {
        margin: .5rem 0;
        padding: 0;
        line-height: 1em;
        color: #222;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
    }


    .color {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        width: 100%;
        aspect-ratio: auto 1 / 1;

    }

}



