/**
 * Poncho Map y Poncho Filter
 */
 @keyframes pm-slidein {
    0% {
        right: calc(-1 * var(--pm-slider-width));
        opacity: 0;
        box-shadow: none;
    }

    100% {
        right: var(--pm-slider-distance);
        opacity: 1;
    }
}


/* Mensajes de error y warning */
.poncho-map--message {
    padding: 0.25em 0.75em;
    border-radius: 8px;
    margin: 1em 0;
    box-shadow: 0 2px 6px rgb(0, 0, 0, 0.1);
    color: black;

    &__icon {
        color: var(--gray-lighter);
        line-height: 1;
        font-size: 4rem;
        display: block;
        text-align: center;
        padding: 1rem;
        opacity: 0.5;
    }

    &.danger {
        // background: var(--tomate, $brand-tomate);
        padding: 1rem;
        background: var(--default, gray);
        color: var(--white, white);

        .title {
            color: white !important;
        }

        pre {
            color: rgb(255, 255, 255, 0.9);
        }
    }

    &.warning {
        background: var(--maiz, $brand-maiz);
        color: rgb(0, 0, 0, 0.8);

        .title {
            color: rgb(0, 0, 0, 0.8) !important;
        }

        pre {
            color: black;
        }
    }

    pre {
        background: rgb(0, 0, 0, 0.1);
        border: none;
    }
}



.poncho-map {
    background-color: var(--pm-map-background);
    overflow: hidden;
    position: relative;
    width: 100%;

    @keyframes pm-loader-rotation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    * {
        scrollbar-width: thin;
        scrollbar-color: var(--pm-scrollbar-handle) var(--pm-scrollbar-background);

    }


    /* loader */
    &__loader {
        width: 100%;
        height: 100%;
        background: var(--pm-loader-background);
        position: absolute;
        left: 0;
        top: 0;
        z-index: 9999;
        padding: 1em;

        .loader {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -40px;
            width: var(--pm-loader-spinner-size);
            height: var(--pm-loader-spinner-size);
            border: var(--pm-loader-spinner-weight) solid var(--pm-loader-spinner-background);
            border-bottom-color: var(--pm-loader-spinner-color);
            border-radius: 50%;
            display: inline-block;
            box-sizing: border-box;
            animation: pm-loader-rotation 1s linear infinite;
        }
    }

    .sr-only {
        position: absolute;
        left: -9999em;
        top: -9999em;
    }

    .color-primary {
        color: var(--pm-color-primary);
    }

    .btn-close {
        border-radius: 50%;
        aspect-ratio: 1 / 1;
        position: absolute;
        background-image: none;
        width: auto;
        height: auto;
        top: 0.75rem;
        right: 0.75rem;
        background-color: transparent;
        color: var(--pm-color-base);
    }

    .marker--active {
        --color: 247, 149, 37;
        position: relative;
        // border-radius: 50%;
        box-shadow: 0 0 20px rgba(var(--pm-active-marker-color), 1);
        background: radial-gradient(circle,
                rgba(var(--pm-active-marker-color), var(--pm-active-marker-alpha)) 10%,
                rgba(var(--pm-active-marker-color), var(--pm-active-marker-alpha)) 80%);
    }

    /**
     * Estilos para los markers basados en <div>
     */
    &__div-icon {
        background-color: transparent;
        height: 38px;
        width: 38px;
        position: relative;
        display: block;
        margin: auto;
        text-align: center;
        border-radius: 50%;
    }

    &__div-icon>i {
        font-size: 1.7em;
        position: absolute;
        margin: auto;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        opacity: 0.9;
        transition: 0.2s;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    }

    &__div-icon:hover>i {
        opacity: 1;
        transition: 0.2s;
    }


    .pm-unstyled {
        margin: 0;
        padding: 0;
        list-style: none;
    }




    .pm-mb-1 {
        margin-bottom: var(--pm-slider-distance);
    }
    .pm-mb-2 {
        margin-bottom: calc(var(--pm-slider-distance) * 2);
    }
    .pm-mb-3 {
        margin-bottom: calc(var(--pm-slider-distance) * 3);
    }
    .pm-mt-1 {
        margin-top: var(--pm-slider-distance);
    }
    .pm-mt-2 {
        margin-top: calc(var(--pm-slider-distance) * 2);
    }
    .pm-mt-3 {
        margin-top: calc(var(--pm-slider-distance) * 3);
    }
    .pm-my-1 {
        margin-bottom: var(--pm-slider-distance);
        margin-top: var(--pm-slider-distance);
    }
    .pm-my-2 {
        margin-bottom: calc(var(--pm-slider-distance) * 2);
        margin-top: calc(var(--pm-slider-distance) * 2);
    }
    .pm-my-3 {
        margin-bottom: calc(var(--pm-slider-distance) * 3);
        margin-top: calc(var(--pm-slider-distance) * 3);
    }
    .pm-p-1 {
        padding: var(--pm-slider-distance);
    }
    .pm-p-2 {
        padding: calc(var(--pm-slider-distance) * 2);
    }
    .pm-p-3 {
        padding: calc(var(--pm-slider-distance) * 3);
    }


    // Botón para hacer un toggle con los filtros
    .pm-btn {
        text-align: center;
        background: var(--pm-slider-background, white);
        box-shadow: var(--pm-slider-shadow);
        line-height: 1em;
        color: var(--pm-color-base);
        width: 39px;
        height: 39px;
        border-radius: 50%;
        border: var(--pm-slider-border-width) solid var(--pm-slider-border-color);
        &:focus {
            border-radius: 50%;
        }
    }
    .pm-btn:hover {
        background-color: var(--pm-hover-background);
        color: var(--pm-hover-color);
    }

    .pm-container {
        box-shadow: var(--pm-slider-shadow);
        background-color: var(--pm-slider-background);
        color: var(--pm-color-base);
        border-radius: var(--pm-slider-radius);
        transform-style: preserve-3d;
        border: var(--pm-slider-border-width) solid var(--pm-slider-border-color)
    }

    .pm-tools {
        position: absolute;
        bottom: var(--pm-slider-distance);
        left: var(--pm-slider-distance);
        z-index: 900
    }

    .pm-toggle {
        display: none;

        position: absolute;
        width: var( --pm-tools-width);
        bottom: 49px;
    }
    
    [data-toggle="true"]:focus > .pm-toggle,
    [data-toggle="true"]:focus-within > .pm-toggle {
        display: block
    }
    
    .pm-item-link {
        width: 100%;
        text-align: left;
        border: 0;
        background: transparent;
        margin-bottom: 2px;
        padding: calc(var( --pm-slider-distance) / 3 * 2) var( --pm-slider-distance);
        border-radius: calc(var(--pm-slider-radius) - var( --pm-slider-distance));
        transition: background .15s;

        &:hover {
            background-color: var(--pm-hover-background);
            color: var(--pm-hover-color);
            transition: background .15s;
        }
    }
    
    



    // Flecha contenedor filtros
    .caret-n::after {
        content: " ";
        width: 0;
        height: 0;
        border-left: 8px solid rgba(0,0,0,0);
        border-right: 8px solid rgba(0,0,0,0);
        border-bottom: 9px solid var(--pm-slider-background);
        position: absolute;
        top: -7px;
        left: 11px;
        z-index: 990;
    }

    // Flecha contenedor filtros
    .caret-n::before {
        content: " ";
        width: 0;
        height: 0;
        border-left: 10px solid rgba(0,0,0,0);
        border-right: 10px solid rgba(0,0,0,0);
        border-bottom: 11px solid  var(--pm-slider-border-color);;
        position: absolute;
        top: calc(-7.75px - var(--pm-slider-border-width));
        left: 9px;
        z-index: 0;
        transform: translateZ(-1px);
    }

    .caret-s::after {
        content: " ";
        width: 0;
        height: 0;
        border-left: 8px solid rgba(0,0,0,0);
        border-right: 8px solid rgba(0,0,0,0);
        border-bottom: 9px solid var(--pm-slider-background);
        position: absolute;
        bottom: -7px;
        left: 11px;
        z-index: 990;
        transform: rotate(180deg);
    }

    // Flecha contenedor filtros
    .caret-s::before {
        content: " ";
        width: 0;
        height: 0;
        border-left: 10px solid rgba(0,0,0,0);
        border-right: 10px solid rgba(0,0,0,0);
        border-bottom: 11px solid  var(--pm-slider-border-color);;
        position: absolute;
        bottom: calc(-7.75px - var(--pm-slider-border-width));
        left: 9px;
        z-index: 0;
        transform: translateZ(-1px) rotate(180deg);
    }



    /**
     * Define el estlo para el slider
     */
    .slider {
        &.slider--in {
            right: var(--pm-slider-distance);
            animation-duration: 0.3s;
            animation-name: pm-slidein;
        }

        img {
            max-width: 100%;
        }

        z-index: 1000;
        position: absolute;
        top: var(--pm-slider-distance);
        right: calc(-1 * var(--pm-slider-width));
        width: var(--pm-slider-width);
        height: calc(100% - var(--pm-slider-distance) - var(--pm-slider-distance));
        


        .content-container {
            height: calc(100%);
            padding-right: var(--pm-content-padding);
            padding-left: var(--pm-content-padding);
            padding-top:calc(var(--pm-content-padding) * 3);
            padding-bottom:calc(var(--pm-content-padding) * 2);
        }

        .content {
            inline-size: min-content;
            color: var(--pm-color-base);
            background-color: transparent;
            height: 100%;
            width: 100%;
            overflow-y: auto;
            overflow-x: hidden;
            box-shadow: 0 -10px 20px var(--pm-slider-background) inset;
            word-break: break-word;

            &:after {
                content: "";
                background: var(--pm-slider-background);
                background: -moz-linear-gradient(0deg,
                        var(--pm-slider-background) 30%,
                        rgba(255, 255, 255, 0) 100%);
                background: -webkit-linear-gradient(0deg,
                        var(--pm-slider-background) 30%,
                        rgba(255, 255, 255, 0) 100%);
                background: linear-gradient(0deg,
                        var(--pm-slider-background) 30%,
                        rgba(255, 255, 255, 0) 100%);
                position: absolute;
                left: var(--pm-content-padding);
                width: calc(100% - (var(--pm-content-padding) * 2));
                height: calc(var(--pm-content-padding) * 2);
                bottom: var(--pm-content-padding);
                // border-bottom-left-radius: 12px;
            }
        }
    }

    path.marker--active {
        fill-opacity: 0.75 !important;
    }

    *:focus {
        outline: 3px solid var(--cielo, $brand-cielo) !important;
        box-sizing: border-box;
        border-radius: 3px;
        box-shadow: 0 0 8px var(--cielo, $brand-cielo) !important;
    }

    .accesible-nav {
        outline: none;
        position: absolute;
        left: -999em;
        line-height: 1.5em;
        z-index: 2000;
        min-height: 2em;
        background: rgba(0, 0, 0, 0.75);
        padding: 6px;
        border-radius: 16px;
        box-shadow: 1px 1px 8px rgb(0, 0, 0, 0.4);
        font-size: small;

        &:focus {
            outline: 2px solid var(--pm-accesible-background);
        }

        &.top:focus-within {
            top: 10px;
            left: 10px;
        }

        &.bottom:focus-within {
            bottom: 10px;
            left: 10px;
        }

        .accesible-nav__icon {
            margin-left: 3px;
            font-size: 1.5em;
            opacity: 1;
            color: #37bbed !important;
        }

        ul {
            font-size: 1rem;
            margin: 0;
            padding: 0;
            font-size: small;

            li {
                list-style: none;
            }
        }

        a {
            text-decoration: none;
            border-radius: 10px;
            list-style: none;
            color: white;
            margin: 0;
            min-height: 2em;
            padding: 5px 10px;
            display: block;

            &:focus {
                outline: 2px solid var(--pm-accesible-background) !important;
                color: black;
                box-shadow: none !important;
                background: var(--pm-accesible-background);
            }
        }
    }

    .select-items {
        padding: 0 0 0.75em;

        &__button {
            font-size: 0.75rem;
            border-radius: 9px;
            padding: 1px 0.75em;
            margin: 0 2px;
            background-color: var(--pm-active-background);
            color: var(--pm-active-color);
            transition: 0.15s;
            border: var(--pm-slider-border-width) solid var(--pm-slider-border-color);
        }

        &__button:hover {
            background-color: var(--pm-hover-background);
            color: var(--pm-hover-color);
            transition: 0.15s;
            box-shadow: 0 0 3px rgb(0 0 0 / 0.15);
            
        }

        &__button:first-of-type {
            margin-left: 0;
        }
    }




    // Filtros
    .filter-container {
        position: absolute;
        top: var(--pm-slider-distance);
        left: var(--pm-slider-distance);
        z-index: 999;
        max-height: calc(100% - 80px);


        .js-filters {
            overflow: auto;
        }

        // Filter
        .poncho-map-filters {
            max-height: calc(100% - 158px);
            min-height: 150px;
            display: none;
            position: relative;
            z-index: 998;
            width: var(--pm-tools-width);
            padding: 30px 15px 15px;
            box-shadow: var(--pm-slider-shadow);
            color: var(--pm-color-base);
            
            // Define el estado abierto del panel de filtro.
            &.filter--in {
                display: block;
            }

            

            // Contenedor de fieldsets
            .field-list {
                min-height: 40px;
                max-height: calc(100% - 110px);
                overflow: auto;
                width: calc(100% - 30px);
            }

            legend {
                color: var(--pm-color-primary);
                margin-bottom: 0.75em;
                opacity: 1;
            }

            fieldset {
                border: none;
            }

            // setea el color para el fondo de los checkbox e inputs.
            input[type="checkbox"],
            input[type="radio"] {
                accent-color: var(--pm-color-primary) !important;
            }

            // parche fix hasta que se use bootstrap > 4
            .form-check {
                display: flex;
                align-items: baseline;
            }

            .form-check .form-check-label {
                color: var(--pm-color-base) !important;
            }
        }
    }




}




