<header>
  <nav class="navbar navbar-top navbar-default" role="navigation">
    <div class="container">
      <div>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.baseurl }}/">
            <img alt="Brand" src="{{ "/img/argentinagob.svg" | prepend: site.baseurl }}" height="50">
            <h1 class="sr-only">Argentina.gob.ar <small>Presidencia de la Nación</small></h1>
          </a>
        </div>
        <div class="collapse navbar-collapse" id="main-navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../docs/">Documentación</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Secciones <b class="caret"></b></a>
              <ul class="dropdown-menu submenu" role="menu">
                <li><a href="{{ site.baseurl }}/">Inicio</a></li>
                <li><a href="pagina.html">Página</a></li>
                <li><a href="pagina-area.html">Página de área</a></li>
                <li><a href="pagina-navegacion.html">Página con navegación</a></li>
                <li><a href="noticia.html">Noticia</a></li>
              </ul>
            </li>
            <li>
              <a href="#"><span class="glyphicon glyphicon-search"></span></a>
            </li>

          </ul>
        </div>

        <!-- SEARCH FORM -->
        <div id="search_wrapper" class="col-sm-6 col-sm-offset-3">
          <span class="bg-primary">en: Modernización</span>
          <div class="input-group stylish-input-group">
            <input type="text" class="form-control"  placeholder="Buscar trámites, servicios o áreas" >
            <span class="input-group-addon">
              <button type="submit">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
