/*!
 * Poncho v0.3.3 (https://github.com/argob/poncho)
 * Copyright 2016
 * Subsecretaría de Gobierno Digital
 * Presidencia de la Nación Argentina
 * Licenciado bajo MIT (https://github.com/argob/poncho/LICENSE)
 */

/* Libraries */
@import "modules/bootstrap/mixins";
@import "modules/bourbon/bourbon";

/* Resources */
@import "modules/variables";
@import "modules/global";
@import "modules/grid";
@import "modules/helpers";
@import "modules/typography";
@import "modules/buttons";
@import "modules/dropdowns";
@import "modules/nav";
@import "modules/footer";
@import "modules/list-group";
@import "modules/breadcrumb";
@import "modules/pagination";
@import "modules/article";
@import "modules/panel";
@import "modules/jumbotron";
@import "select2/core";
@import "modules/forms";
@import "modules/social";
@import "modules/tables";
@import "modules/alerts";
@import "modules/responsive-embed";
@import "modules/calendar";
@import "modules/switch";
@import "modules/media";
@import "modules/print";
// @import "modules/poncho-map";
@import "poncho-map/poncho-map";
// Charts and big numbers
@import "modules/dashboard";
// Cool stuff from Bootstrap 4
@import "modules/utilities";
@import "modules/listas-destacadas";
@import "modules/menu-lateral-responsive";
@import "device-breadcrumb/device-breadcrumb";
@import "calendar/national-holidays";

