@charset "UTF-8";
/*!
 * <%= font_name %> v0.2 (https://github.com/argob/iconos)
 * Copyright 2016
 * Subsecretaría de Gobierno Abierto y País Digital
 * Presidencia de la Nación Argentina
 * Licenciado bajo MIT (https://github.com/argob/iconos/LICENSE)
 */

<%= font_face %>

[class*="icono-arg"] {
	line-height: 1;
}
[class*="icono-arg"]:before {
	font-size: 1.5em;
}

.icono-lg {
    font-size: 1.33333333em;
    line-height: .75em;
    vertical-align: -15%
}

.icono-2x {
    font-size: 2em
}

.icono-3x {
    font-size: 3em
}

.icono-4x {
    font-size: 4em
}

.icono-5x {
    font-size: 5em
}

.icono-fw {
    width: 1.28571429em;
    text-align: center
}

.icono-ul {
    padding-left: 0;
    margin-left: 2.14285714em;
    list-style-type: none
}

.icono-ul > li {
    position: relative
}

.icono-li {
    position: absolute;
    left: -2.14285714em;
    width: 2.14285714em;
    top: .14285714em;
    text-align: center
}

.fa-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear
}

.fa-pulse {
    -webkit-animation: fa-spin 1s infinite steps(8);
    animation: fa-spin 1s infinite steps(8)
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

.fa-rotate-90 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

.fa-rotate-180 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.fa-rotate-270 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg)
}

.fa-flip-horizontal {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1)
}

.fa-flip-vertical {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
    -webkit-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1)
}

:root .fa-rotate-90,:root .fa-rotate-180,:root .fa-rotate-270,:root .fa-flip-horizontal,:root .fa-flip-vertical {
    filter: none
}


[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
<%= glyph_selectors %> {
<%= glyph_properties %>
}

<%= glyphs %>
