html,
body {
  font-size: 16px;
  max-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

main {
  height: 100%;
}

h1, .h1 {
  font-size: 2.5em;

  small,
  .small {
    color: $gray;
  }
}

h2, .h2 {
  font-size: 2.285714em;

  small,
  .small {
    color: $gray;
  }
}

h3, .h3 {
  font-size: 2em;

  small,
  .small {
    color: $gray;
  }
}

h4, .h4 {
  font-size: 1.714285em;

  small,
  .small {
    color: $gray;
  }
}

h5, .h5 {
  font-size: 1.4em;

  small,
  .small {
    color: $gray;
  }
}

h6, .h6 {
  font-size: 1em;

  small,
  .small {
    color: $gray;
  }
}

body {
  background: $body-bg;
  color: $text-color;
  display: table;
  width: 100%;
}

a {
  color: $brand-primary;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: none;
  }
}

hr {
  border-top: 1px solid $gray-light;
  margin: 30px 0;

  &.hr-lg {
    margin: 60px 0;
  }
}

.social-share {
  a {
    font-size: 30px;
  }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  small,
  .small {
    color: $gray;
  }
}

p { font-size: 16px; }

.inline {
  display: inline-block;
}

.img-rounded {
  border-radius: 4px;
}

.text-muted {
  color: $gray;
}

.lead {
  font-size: 1.3em;
  font-weight: 400;
  line-height: 1.2;
}

.jumbotron {
  p {font-weight: 400;}
}

.section-title {
  color: $gray;
  font-weight: 700;
  margin-bottom: 24px;
  text-transform: uppercase;
}

section {
  padding: 40px 0;
}

.icon-item {
  margin-bottom: 20px;
  padding: 15px;

  i {
    color: $brand-secondary;
    font-size: 84px;
  }

  h3 {
    font-size: 24px;
    margin: 15px 0 5px;
  }
}

aside {
  section {
    float: left;
    margin-bottom: 24px;
    width: 100%;
  }
}

.bg-gray {
  background-color: $gray-lighter;
  padding-top: 48px;

  .section-title {
    color: $text-color;
    opacity: .7;
  }
}

.page-sidebar {

  margin-bottom: 48px;
  padding: 0;

  li {
    font-size: 18px;
  }

  a {
    display: block;
    padding: 5px 0;
  }

  .nav {
    font-weight: 500;
    text-transform: none;
  }

  .btn-title {
    border: medium none;
    border-radius: 4px;
    color: #666;
    cursor: pointer;
    display: inline-block;
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 8px;
    margin-top: 6px;
    text-align: left;
    text-shadow: none;
    vertical-align: middle;
    white-space: normal;
    width: 100%;
  }

  .nav-pills li.active > a,
  .nav-pills li > a:hover {
    background-color: $gray-lighter;
    border-color: $gray-lighter;
  }

  .nav-pills li.btn-title > a {
    padding: 10px 20px;
  }

  .nav-pills li > a {
    padding: 13px 20px;

    &:hover {
      border-color: $gray-lighter;
    }

    &:visited {
      color: $link-visited;
    }

  }

  .nav-pills li.disabled > a {
    color: $gray-light;

    &:hover {
      border-color: $gray-lighter;
    }
  }

  .nav-pills > li.active > a,
  .nav-pills > li.active > a:hover,
  .nav-pills > li.active > a:focus {
    background-color: $brand-primary;
    border: 0;
    color: $body-bg;
  }

  .nav > li > a:hover,
  .nav > li > a:focus {
    background-color: $gray-lighter;
    text-decoration: none;
  }

  .nav-pills {
    a {
      color: #606060;
    }
  }

  .badge {
    background-color: transparent;
    color: #606060;
    font-size: 16px;
    font-weight: 500;
  }

}

dd {
  margin-bottom: 15px;
}

.ribbon {
  border: 1px solid $gray-light;
  border-radius: 4px;
  display: inline-block;
  font-weight: 500;
  margin: 0 15px 10px 0;
  padding: 11px 20px;
  text-transform: uppercase;

  i {
    font-size: 1.5em;
    margin-right: 5px;
    position: relative;
    top: 2px;
  }
}

.ribbon-default {
  border-color: $brand-default;

  i {
    color: $brand-default;
  }
}

.ribbon-primary {
  border-color: $brand-primary;

  i {
    color: $brand-primary;
  }
}

.ribbon-success {
  border-color: $brand-success;

  i {
    color: $brand-success;
  }
}

.ribbon-info {
  border-color: $brand-info;

  i {
    color: $brand-info;
  }
}

.ribbon-warning {
  border-color: $brand-warning;

  i {
    color: $brand-warning;
  }
}

.ribbon-danger {
  border-color: $brand-danger;

  i {
    color: $brand-danger;
  }
}

.well {
  border-color: $gray-light;
  box-shadow: none;
  margin: 30px 0;
}

.alert {
  a {
    text-decoration: underline;
  }
}

.credits {
  p {
    color: $gray;
    font-family: $font-family-sans-serif;
    font-size: 13px;
    line-height: 15px;
    margin-top: 40px;
  }
}

@media screen and (max-width: 767px) {

  h2 {
    font-size: 2.6em;
  }

  h3 {
    font-size: 32px;
  }

  article {
    h1 {
      &.icon {
        font-size: 8em;
        line-height: 1.5;
        text-align: center;
      }
    }
  }

}

@media screen and (min-width: 768px) {

  .open {
    .submenu {
      display: table;

      >div {
        display: table-cell;
      }
    }
  }

  .submenu {
    li {
      a {
        padding-right: 60px !important;
      }
    }
  }

}


@media screen and (max-width: 767px) {

  blockquote {
    text-align: center;

    img {
      margin: 0 auto;
      padding: 0 45px 16px;
    }
  }

}

#search_wrapper {
  display: none;
  margin-top: 5px;
  padding-right: 0;

  .glyphicon-search {color: $brand-primary;}

  span {
    &.bg-primary {
      border-radius: 4px;
      float: left;
      margin-right: 20px;
      margin-top: 15px;
      padding: 3px 7px;
    }
  }

  input {font-size: 1.1em;}

  .input-group-addon,
  .form-control {
    border-left: 0;
    border-radius: 0;
    border-right: 0;
    border-top: 0;
  }

  .stylish-input-group {

    .input-group-addon {
      background: $white !important;
      padding: 10px 16px;
    }

    .form-control {
      border-color: $gray-border;
      box-shadow: 0 0 0;
    }

    button {
      background: transparent;
      border: 0;
    }
  }
}

.additional_data {
  padding-top: 0;
  text-align: right;
}

.title-description {
  .additional_data {
    padding-top: 15px;
  }

}

.state-loading {
  position: relative;

  &:before {
    -webkit-animation: loader .6s linear;
    -webkit-animation-iteration-count: infinite;
    animation: loader .6s linear;
    animation-iteration-count: infinite;
    border-color: $gray $gray-background $gray-background;
    border-radius: 600rem;
    border-style: solid;
    border-width: .2em;
    box-shadow: 0 0 0 1px transparent;
    content: '';
    height: 2.2585em;
    left: 50%;
    margin: -1.12925em 0 0 -1.12925em;
    position: absolute;
    top: 50%;
    width: 2.2585em;
    z-index: 11;
  }

  &:after {
    background-color: rgba(204,204,204,.7);
    border-radius: 4px;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
  }

}

@keyframes loader {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)}
  }
