.img-full {
  width: 100%;
}

.margin-0 {
  margin-bottom: 0 !important;
}

.margin-20 {
  margin-bottom: 20px !important;
}

.margin-40 {
  margin-bottom: 40px !important;
}

.margin-60 {
  margin-bottom: 60px !important;
}
.padding-0 {
  padding-top: 0px !important;
}

.padding-20 {
  padding-top: 20px !important;
}

.padding-40 {
  padding-top: 40px !important;
}

.padding-60 {
  padding-top: 60px !important;
}

.align-bottom {
  @include position(absolute, null null 30px 0);
}

.m-t-0 {
  margin-top: 0 !important;
}


