.table {
  &.table-align-middle {
    td {
      vertical-align: middle;
      }
  }

  &.table-spaced {
    td,
    th {padding: 12px 4px;}
  }

  th {

    line-height: 1.2;

    a {
      color: $text-color;

      &:hover {text-decoration: underline; cursor: pointer; }

      }
    }

  td {
    small {
      color: $gray;
      font-weight: normal;
    }

    &.td-strong {
      font-size: 1.1em;
      font-weight: bold;
    }

    &.td-fixed {
      width: 8%;
      }
    }
}

.table-hover > tbody > tr {
  &:hover {
    background-color: $gray-hover;
  }
}
