body {
  font-family: $font-family-sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 700;
  margin: .5em 0;

  small,
  .small {
    color: $gray;
  }

  &.section-title {
    color: $gray;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 24px;
  }
}

h1, .h1 {
  font-size: 2.5em;

  &.section-title {
    font-size: 1.8em;
  }
}

h2, .h2 {
  font-size: 2.285714em;

  &.section-title {
    font-size: 1.6em;
  }
}

h3, .h3 {
  font-size: 2em;

  &.section-title {
    font-size: 1.4em;
  }
}

h4, .h4 {
  font-size: 1.714285em;

  &.section-title {
    font-size: 1.2em;
  }
}

h5, .h5 {
  font-size: 1.4em;

  &.section-title {
    font-size: 1em;
  }
}

h6, .h6 {
  font-size: 1em;

  &.section-title {
    font-size: 0.8em;
  }
}

a {
  color: $brand-primary;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  // font-weight: 500;

  &:hover,
  &:focus,
  &:active {
    color: $link-hover-color;
    text-decoration: none;
  }
}

p { font-size: 16px; }

.text-muted {
  color: $gray;
}
.text-gray {
  color: $gray-dark;
}

.lead {
  font-size: 1.3em;
  font-weight: 400;
  line-height: 1.2;
}

.jumbotron {
  h1 {
    &.h1-sm {
      font-size: 44px;
    }
  }
}

h2 {
  &.h2-lg {
    font-size: 4em;
  }
}

h3 {
  &.h3-lg {
    font-size: 2.85em;
  }
}

h4 {
  &.h4-lg {
    font-size: 2.3em;
  }
}

article {
  h1 {
    &.icon {
      font-size: 7em;
      line-height: 2.5;
      margin: 0;

      &.aside {
        line-height: 1.5;
        text-align: center;
        }
      }

    }
}

.row-color {
  h3 {
    color: $white;
    font-size: 32px;
    margin-top: 10px;
  }
}

.content_format {
  h2,
  h3,
  h4,
  h5,
  h6,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    margin-top: 2em;
  }

  p {
    .btn {
      font-family: $font-family-sans-serif;
    }
  }

  p,
  ul,
  ol {
    font-family: $font-family-serif;
  }

  li {
    font-size: 16px;
    margin: 0 0 15px;
  }

  blockquote {
    p {
      font-family: $font-family-sans-serif;
    }
  }

  .social-share {
    p,
    ul {font-family: $font-family-sans-serif;}
  }

  .additional_data {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 10px;
    }
  }

  .credits {
    p {
      color: $gray;
      font-family: $font-family-sans-serif;
      font-size: 13px;
      line-height: 15px;
      margin-top: 40px;
    }
  }

}
