
//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$white:                  #fff !default;
$black:                  #111 !default;
$gray-base:              #111 !default;

$gray:                   #767676;
$gray-dark:              #444;
$gray-border:            #ccc;
$gray-hover:             #e5e5e5;
$gray-background:        #F9F9F9;
$gray-light:             #ccc;
$gray-lighter:           #e5e5e5;

$brand-default:         #838383 !default;
$brand-primary:         #0072bc !default;
$brand-secondary:       #00b9f1 !default;
$brand-complementary:   #fd4138 !default;
$brand-success:         #46a948 !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$brand-fucsia:          #ea1d76 !default;
$brand-arandano:        #bd1e61 !default;
$brand-uva:             #873299 !default;
$brand-cielo:           #009dda !default;
$brand-verdin:          #82bc00 !default;
$brand-lima:            #cfde00 !default;
$brand-maiz:            #ffce00 !default;
$brand-tomate:          #ff4338 !default;


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #F9F9F9 !default;
//** Global text color on `<body>`.
$text-color:            $gray-base !default;

//** Global textual link color.
$link-color:            $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      lighten($link-color, 15%) !default;
//** Link hover decoration.
$link-visited: #705582 !default;

$dark-opacity: rgba(0, 0, 0, .5);

$shadow: 0 2px 2px rgba(0, 0, 0, .2);

$font-family-serif: 'Droid Serif', serif;
$font-family-sans-serif: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
